<div style="text-align:center;vertical-align:middel">
  <a href="#myModal" role="button" class="main-btn btn btn-large" data-toggle="modal">Pembelian and Stok</a>
  <a href="#myModal" role="button" class="main-btn btn btn-large" data-toggle="modal">Production</a>
  <a href="#myModal" role="button" class="main-btn btn btn-large" data-toggle="modal">Marketing sales and development</a>
  <a href="#myModal" role="button" class="main-btn btn btn-large" data-toggle="modal">Finance</a>
  <a href="#myModal" role="button" class="main-btn btn btn-large" data-toggle="modal">Human Resource</a>
  <a href="#myModal" role="button" class="main-btn btn btn-large" data-toggle="modal">Setup Configuration</a>
</div>

<%= form_for("admin_ms_user", :url => admin_ms_user_session_path, class: :hide) do |f| %>
<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Login</h3>
  </div>
  <div class="modal-body">
    <%= f.label :login_name %>
    <%= f.text_field :login_name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="modal-footer">
    <%= f.submit 'Sign in', class: :btn %>
    <button type="button" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>
  </div>
</div>
<% end %>