<p id="notice"><%= notice %></p>

<p>
  <b>Id cabang:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.id_cabang %>
</p>

<p>
  <b>Id gudang:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.id_gudang %>
</p>

<p>
  <b>Kode brg:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.kode_brg %>
</p>

<p>
  <b>Kode brg ext:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.kode_brg_ext %>
</p>

<p>
  <b>Kode lot number:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.kode_lot_number %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.tanggal %>
</p>

<p>
  <b>Simbol:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.simbol %>
</p>

<p>
  <b>Qty in:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.qty_in %>
</p>

<p>
  <b>Qty out mc:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.qty_out_mc %>
</p>

<p>
  <b>Qty out real:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.qty_out_real %>
</p>

<p>
  <b>Is close mc:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.is_close_mc %>
</p>

<p>
  <b>Is close real:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.is_close_real %>
</p>

<p>
  <b>Status1:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.status1 %>
</p>

<p>
  <b>Updated by:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.updated_by %>
</p>

<p>
  <b>St progress:</b>
  <%= @m_warehouse_ks_brg_e_ext_lot.st_progress %>
</p>


<%= link_to 'Edit', edit_m_warehouse_ks_brg_e_ext_lot_path(@m_warehouse_ks_brg_e_ext_lot) %> |
<%= link_to 'Back', m_warehouse_ks_brg_e_ext_lots_path %>
