<%= form_for(@admin_ms_url_back) do |f| %>
  <% if @admin_ms_url_back.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_ms_url_back.errors.count, "error") %> prohibited this admin_ms_url_back from being saved:</h2>

      <ul>
      <% @admin_ms_url_back.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kode %><br />
    <%= f.text_field :kode %>
  </div>
  <div class="field">
    <%= f.label :url_back %><br />
    <%= f.text_field :url_back %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
