<p id="notice"><%= notice %></p>

<p>
  <b>Id navigasi:</b>
  <%= @admin_ms_modul_navigasi.id_navigasi %>
</p>

<p>
  <b>Id modul:</b>
  <%= @admin_ms_modul_navigasi.id_modul %>
</p>

<p>
  <b>Is level1:</b>
  <%= @admin_ms_modul_navigasi.is_level1 %>
</p>

<p>
  <b>Is level2:</b>
  <%= @admin_ms_modul_navigasi.is_level2 %>
</p>

<p>
  <b>Is level3:</b>
  <%= @admin_ms_modul_navigasi.is_level3 %>
</p>


<%= link_to 'Edit', edit_admin_ms_modul_navigasi_path(@admin_ms_modul_navigasi) %> |
<%= link_to 'Back', admin_ms_modul_navigasis_path %>
