<p id="notice"><%= notice %></p>

<p>
  <b>Kode tmp:</b>
  <%= @m_warehouse_out_b_d.kode_tmp %>
</p>

<p>
  <b>Kode brg:</b>
  <%= @m_warehouse_out_b_d.kode_brg %>
</p>

<p>
  <b>Kode brg ext:</b>
  <%= @m_warehouse_out_b_d.kode_brg_ext %>
</p>

<p>
  <b>Kode brg lot:</b>
  <%= @m_warehouse_out_b_d.kode_brg_lot %>
</p>

<p>
  <b>Qty:</b>
  <%= @m_warehouse_out_b_d.qty %>
</p>

<p>
  <b>Created at:</b>
  <%= @m_warehouse_out_b_d.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @m_warehouse_out_b_d.updated_at %>
</p>


<%= link_to 'Edit', edit_m_warehouse_out_b_d_path(@m_warehouse_out_b_d) %> |
<%= link_to 'Back', m_warehouse_out_b_ds_path %>
