<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
    </tr>
    <tr class="blankSpot">
      <th colspan="11" align="left">&nbsp;
        <%= link_to ADD, new_b_supplier_history_quotation_path, class: "navigasi btn" %>
        <a id="searchLink" class="navigasi btn" href="javascript:void(0)" style="float:right"><%= SEARCH %></a>
      </th>
    </tr>
    <tr class="titleJudulTable">
      <% @header_columns.each do |column| %>
        <th><%= column.upcase %></th>
      <% end %>
    </tr>
  </thead>
  <% if @supplier_history_quotations.count > 0 %>
    <% @supplier_history_quotations.each do |history| %>
      <tr>
        <td></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="<%= @header_columns.count %>" style="text-align: center"><%= EMPTY_DATA %></td></tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @supplier_history_quotations %>
      </th>
    </tr>
  </thead>
</table>
