<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
    </tr>
    <tr class="blankSpot">
      <th colspan="11" align="left">&nbsp;
        <%= link_to ADD, new_b_supplier_history_quotation_path, class: "navigasi btn" %>
      </th>
    </tr>
    <tr class="titleJudulTable">
      <% @header_columns.each do |column| %>
        <th><%= column.upcase %></th>
      <% end %>
    </tr>
  </thead>
  <% if @supplier_history_quotations.count > 0 %>
    <% @supplier_history_quotations.each do |history| %>
      <tr>
        <td><%= history.barang.blank? ? '-' : history.barang.kode %></td>
        <td><%= history.barang.blank? ? '-' : history.barang.nama %></td>
        <td><%= history.kemasan.blank? ? '-' : history.kemasan.nama %></td>
        <td><%= harga_link(history.penawaran_harga_1, 1, history) %></td>
        <td><%= harga_link(history.penawaran_harga_2, 2, history) %></td>
        <td><%= harga_link(history.penawaran_harga_3, 3, history) %></td>
        <td><%= harga_link(history.penawaran_harga_4, 4, history) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="<%= @header_columns.count %>" style="text-align: center"><%= EMPTY_DATA %></td></tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @supplier_history_quotations %>
      </th>
    </tr>
  </thead>
</table>

<script>
var harga = ["harga_1", "harga_2", "harga_3", "harga_4"];

for (var i = 0; i <= harga.length; i++) {
  $('a#' + harga[i]).mouseenter(function() {
    $.ajax({ url: '<%= get_self_data_b_supplier_history_quotations_path %>?id=' + $(this).attr('value'), });
    
    $(this).popover('show');
  });
  
  $('a#' + harga[i]).mouseleave(function() { $(this).popover('hide'); });
}
</script>