<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @b_supplier_history_quotation.kode %>
</p>

<p>
  <b>Kode brg:</b>
  <%= @b_supplier_history_quotation.kode_brg %>
</p>

<p>
  <b>Kode brg ext:</b>
  <%= @b_supplier_history_quotation.kode_brg_ext %>
</p>

<p>
  <b>Status1:</b>
  <%= @b_supplier_history_quotation.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @b_supplier_history_quotation.st_progress %>
</p>

<p>
  <b>Updated by:</b>
  <%= @b_supplier_history_quotation.updated_by %>
</p>

<p>
  <b>:</b>
  <%= @b_supplier_history_quotation. %>
</p>

<p>
  <b>Pos penawaran x:</b>
  <%= @b_supplier_history_quotation.pos_penawaran_x %>
</p>

<p>
  <b>Penawaran kode cur:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_cur %>
</p>

<p>
  <b>Penawaran tgl cur:</b>
  <%= @b_supplier_history_quotation.penawaran_tgl_cur %>
</p>

<p>
  <b>Penawaran kode valuta cur:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_valuta_cur %>
</p>

<p>
  <b>Penawaran harga cur:</b>
  <%= @b_supplier_history_quotation.penawaran_harga_cur %>
</p>

<p>
  <b>Penawaran min order cur:</b>
  <%= @b_supplier_history_quotation.penawaran_min_order_cur %>
</p>

<p>
  <b>Penawaran kode satuan cur:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_satuan_cur %>
</p>

<p>
  <b>Penawaran waktu kirim cur:</b>
  <%= @b_supplier_history_quotation.penawaran_waktu_kirim_cur %>
</p>

<p>
  <b>Penawaran kode 1:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_1 %>
</p>

<p>
  <b>Penawaran tgl 1:</b>
  <%= @b_supplier_history_quotation.penawaran_tgl_1 %>
</p>

<p>
  <b>Penawaran kode valuta 1:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_valuta_1 %>
</p>

<p>
  <b>Penawaran harga 1:</b>
  <%= @b_supplier_history_quotation.penawaran_harga_1 %>
</p>

<p>
  <b>Penawaran min order 1:</b>
  <%= @b_supplier_history_quotation.penawaran_min_order_1 %>
</p>

<p>
  <b>Penawaran kode satuan 1:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_satuan_1 %>
</p>

<p>
  <b>Penawaran waktu kirim 1:</b>
  <%= @b_supplier_history_quotation.penawaran_waktu_kirim_1 %>
</p>

<p>
  <b>Penawaran kode 2:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_2 %>
</p>

<p>
  <b>Penawaran tgl 2:</b>
  <%= @b_supplier_history_quotation.penawaran_tgl_2 %>
</p>

<p>
  <b>Penawaran kode valuta 2:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_valuta_2 %>
</p>

<p>
  <b>Penawaran harga 2:</b>
  <%= @b_supplier_history_quotation.penawaran_harga_2 %>
</p>

<p>
  <b>Penawaran min order 2:</b>
  <%= @b_supplier_history_quotation.penawaran_min_order_2 %>
</p>

<p>
  <b>Penawaran kode satuan 2:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_satuan_2 %>
</p>

<p>
  <b>Penawaran waktu kirim 2:</b>
  <%= @b_supplier_history_quotation.penawaran_waktu_kirim_2 %>
</p>

<p>
  <b>Penawaran kode 3:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_3 %>
</p>

<p>
  <b>Penawaran tgl 3:</b>
  <%= @b_supplier_history_quotation.penawaran_tgl_3 %>
</p>

<p>
  <b>Penawaran kode valuta 3:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_valuta_3 %>
</p>

<p>
  <b>Penawaran harga 3:</b>
  <%= @b_supplier_history_quotation.penawaran_harga_3 %>
</p>

<p>
  <b>Penawaran min order 3:</b>
  <%= @b_supplier_history_quotation.penawaran_min_order_3 %>
</p>

<p>
  <b>Penawaran kode satuan 3:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_satuan_3 %>
</p>

<p>
  <b>Penawaran waktu kirim 3:</b>
  <%= @b_supplier_history_quotation.penawaran_waktu_kirim_3 %>
</p>

<p>
  <b>Penawaran kode 4:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_4 %>
</p>

<p>
  <b>Penawaran tgl 4:</b>
  <%= @b_supplier_history_quotation.penawaran_tgl_4 %>
</p>

<p>
  <b>Penawaran kode valuta 4:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_valuta_4 %>
</p>

<p>
  <b>Penawaran harga 4:</b>
  <%= @b_supplier_history_quotation.penawaran_harga_4 %>
</p>

<p>
  <b>Penawaran min order 4:</b>
  <%= @b_supplier_history_quotation.penawaran_min_order_4 %>
</p>

<p>
  <b>Penawaran kode satuan 4:</b>
  <%= @b_supplier_history_quotation.penawaran_kode_satuan_4 %>
</p>

<p>
  <b>Penawaran waktu kirim 4:</b>
  <%= @b_supplier_history_quotation.penawaran_waktu_kirim_4 %>
</p>


<%= link_to 'Edit', edit_b_supplier_history_quotation_path(@b_supplier_history_quotation) %> |
<%= link_to 'Back', b_supplier_history_quotations_path %>
