<p id="notice"><%= notice %></p>

<p>
  <b>Kode tmp:</b>
  <%= @m_beli_retur_b_d.kode_tmp %>
</p>

<p>
  <b>Kode barang:</b>
  <%= @m_beli_retur_b_d.kode_barang %>
</p>

<p>
  <b>Qty:</b>
  <%= @m_beli_retur_b_d.qty %>
</p>

<p>
  <b>Id valuta:</b>
  <%= @m_beli_retur_b_d.id_valuta %>
</p>

<p>
  <b>Harga:</b>
  <%= @m_beli_retur_b_d.harga %>
</p>

<p>
  <b>Diskon:</b>
  <%= @m_beli_retur_b_d.diskon %>
</p>

<p>
  <b>Total qty kali harga:</b>
  <%= @m_beli_retur_b_d.total_qty_kali_harga %>
</p>

<p>
  <b>Total qty kali harga kali diskon:</b>
  <%= @m_beli_retur_b_d.total_qty_kali_harga_kali_diskon %>
</p>

<p>
  <b>Total kurang diskon:</b>
  <%= @m_beli_retur_b_d.total_kurang_diskon %>
</p>

<p>
  <b>Kode brg ext:</b>
  <%= @m_beli_retur_b_d.kode_brg_ext %>
</p>


<%= link_to 'Edit', edit_m_beli_retur_b_d_path(@m_beli_retur_b_d) %> |
<%= link_to 'Back', m_beli_retur_b_ds_path %>
