<p id="notice"><%= notice %></p>

<p>
  <b>Kode account:</b>
  <%= @b_supplier_account.kode_account %>
</p>

<p>
  <b>Kode:</b>
  <%= @b_supplier_account.kode %>
</p>

<p>
  <b>Kode bank:</b>
  <%= @b_supplier_account.kode_bank %>
</p>

<p>
  <b>Nama pemilik:</b>
  <%= @b_supplier_account.nama_pemilik %>
</p>

<p>
  <b>Nama cabang:</b>
  <%= @b_supplier_account.nama_cabang %>
</p>

<p>
  <b>Status1:</b>
  <%= @b_supplier_account.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @b_supplier_account.st_progress %>
</p>

<p>
  <b>Updated by:</b>
  <%= @b_supplier_account.updated_by %>
</p>

<p>
  <b>:</b>
  <%= @b_supplier_account. %>
</p>


<%= link_to 'Edit', edit_b_supplier_account_path(@b_supplier_account) %> |
<%= link_to 'Back', b_supplier_accounts_path %>
