<%= form_for(@a_bank) do |f| %>
  <% if @a_bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@a_bank.errors.count, "error") %> prohibited this a_bank from being saved:</h2>

      <ul>
      <% @a_bank.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kode %><br />
    <%= f.text_field :kode %>
  </div>
  <div class="field">
    <%= f.label :nama %><br />
    <%= f.text_field :nama %>
  </div>
  <div class="field">
    <%= f.label :simbol %><br />
    <%= f.text_field :simbol %>
  </div>
  <div class="field">
    <%= f.label :status1 %><br />
    <%= f.number_field :status1 %>
  </div>
  <div class="field">
    <%= f.label :st_progress %><br />
    <%= f.text_field :st_progress %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br />
    <%= f.text_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label : %><br />
    <%= f.text_field : %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
