<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @a_bank.kode %>
</p>

<p>
  <b>Nama:</b>
  <%= @a_bank.nama %>
</p>

<p>
  <b>Simbol:</b>
  <%= @a_bank.simbol %>
</p>

<p>
  <b>Status1:</b>
  <%= @a_bank.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @a_bank.st_progress %>
</p>

<p>
  <b>Updated by:</b>
  <%= @a_bank.updated_by %>
</p>

<p>
  <b>:</b>
  <%= @a_bank. %>
</p>


<%= link_to 'Edit', edit_a_bank_path(@a_bank) %> |
<%= link_to 'Back', a_banks_path %>
