<%= form_for(@b_supplier) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= title %></th></tr>
    <%= render partial: "/shared/errors", errors: @b_supplier.errors if @b_supplier.errors.any? %>
    <%= render partial: "navigator" unless action_name == 'new' %>
    <%= render partial: "columns", locals: { f: f, attribute: @attributes } %>
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit "Simpan", class: :btn unless action_name.eql?('destroy_show')  %>
        <%= link_to "Hapus", b_supplier_path(@b_supplier), method: :delete, class: :btn, confirm: "Hapus data?" if action_name.eql?('destroy_show') %>
        <%= link_to "Tutup", "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(b_suppliers_path) %>