<%= form_for(@b_supplier) do |f| %>
  <table class="table-bordered" align="center" width="60%">
  <tr class="titleJudulTable"><th colspan="3">FORM DATA SUPPLIER</th></tr>
  <%= render partial: "navigator" %>
  <%= render partial: "columns", locals: { f: f, attribute: @attributes } %>
  <tr>
    <th colspan="3" class="titleJudulTable" width="100%">
      <input type="button" value="Tutup" onclick="closingForm()" class="btn" />
    </th>
  </tr>
  <tr>
    <th colspan="3"><%= render template: "b_supplier_alamats/index" %></th>
  </tr>
  </table>
<% end %>

<%=
    render partial: 'b_supplier_alamats/form',
           locals: {
                      title: 'FORM REGISTRASI ALAMAT SUPPLIER',
                      b_supplier_alamat: @b_supplier_alamat,
                      controller: 'b_supplier_alamats',
                      action: 'create',
                      b_supplier: @b_supplier,
                      action_type: 'Create'
                    }
%>

<%= hidden_value(b_suppliers_path) %>
<script>
$(function() {
  $('#formSupplier').click(function() {
    $('#formSupplierModal').modal();
  });
});
</script>
