<%= form_for(@a_city) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= form_title(action_name, @title) %></th></tr>
    <%= render partial: COMMON_ERRORS, locals: { object: @a_city } if @a_city.errors.any? %>
    <%= render partial: "navigator"  if action_name.eql?'show' %>
    <%= render partial: "columns", locals: { f: f, attributes: @attributes } %>
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit SAVE, class: :btn, confirm: "Simpan Data?" unless ["destroy_show", "show"].include?(action_name)  %>
        <%= link_to DELETE, a_city_path(@a_city), method: :delete, class: :btn, confirm: "#{DELETE} data?" if action_name.eql?('destroy_show') %>
        <%= link_to CLOSE, "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(a_cities_path) %>

<script>
<% unless ["show", "destroy_show"].include?(action_name) %>
$(function() {
  $('#a_city_id_provinsi').attr('readonly', 'true');
  $('#a_city_id_provinsi').attr('disabled', 'disabled');
  
  $('#a_city_id_negara').live('change',function() {
    if ($('#a_city_id_negara').val() != '')
    {
      $('#a_city_id_provinsi').removeAttr('readonly');
      $('#a_city_id_provinsi').removeAttr('disabled');
      $.ajax({
        url: '<%= get_provinces_a_cities_path %>?negara=' + $('#a_city_id_negara').val()
      });
    } else if ($('#a_city_id_negara').val() == '')
    {
      $('#a_city_id_provinsi').attr('readonly', 'true');
      $('#a_city_id_provinsi').attr('disabled', 'disabled');
      $.ajax({
        url: '<%= get_provinces_a_cities_path %>?negara='
      });
    }
  });
});

<% end %>

<% if action_name.eql?"edit" %>
      $("#a_city_kode").attr("readonly","true") ;
     
<% end %>
</script>

