<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
    </tr>
    <tr class="blankSpot">
      <th colspan="11" align="left">&nbsp;
        <%= link_to ADD, new_a_city_path, class: "navigasi btn" %>
        <a id="searchLink" class="navigasi btn" href="javascript:void(0)" style="float:right"><%= SEARCH %></a>
      </th>
    </tr>
    <tr class="titleJudulTable">
      <% ACity.column_names.each do |column_name| %>
        <% unless @hidden_columns.include?(column_name) %>
          <th><%= ACity.human_attribute_name(column_name).titleize %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% @a_cities.each do |a_city| %>
    <tr onclick="redirectTo('<%= a_city_path(a_city) %>')">
      <% ACity.column_names.each do |column_name| %>
        <% unless @hidden_columns.include?(column_name) %>
          <td><%= ["id_negara", "id_provinsi"].include?(column_name) ? (column_name == 'id_negara' ? a_city.a_negara.nama : a_city.a_provinsi.nama) : a_city[column_name] %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @a_cities %>
      </th>
    </tr>
  </thead>
</table>

<!-- Modal -->
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag a_cities_search_path, class: 'form-horizontal' do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= SEARCH %> city</h3>
    </div>
    <div class="modal-body">
      <% ACity.column_names.each do |column_name| %>
        <% unless @hidden_columns.include?(column_name) %>
          <div class="control-group">
            <%= label_tag column_name, ACity.human_attribute_name(column_name).titleize, class: 'control-label' %>
            <div class="controls">
              <%= text_field_tag column_name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= CLOSE %></button>
      <button class="btn btn-primary"><%= SEARCH %></button>
    </div>
  <% end %>
</div>

<%= link_to BACK, a_cities_path, class: 'btn btn-success' if action_name == 'search' %>

<script>
$(function() {
  $('#searchLink').click(function() {
    $('#searchModal').modal();
  });
});
</script>