<p id="notice"><%= notice %></p>

<p>
  <b>Kode tmp:</b>
  <%= @m_warehouse_out_a_h.kode_tmp %>
</p>

<p>
  <b>Kode disp:</b>
  <%= @m_warehouse_out_a_h.kode_disp %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @m_warehouse_out_a_h.tanggal %>
</p>

<p>
  <b>Id cabang:</b>
  <%= @m_warehouse_out_a_h.id_cabang %>
</p>

<p>
  <b>Simbol:</b>
  <%= @m_warehouse_out_a_h.simbol %>
</p>

<p>
  <b>Jns inv:</b>
  <%= @m_warehouse_out_a_h.jns_inv %>
</p>

<p>
  <b>Id reff disp:</b>
  <%= @m_warehouse_out_a_h.id_reff_disp %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @m_warehouse_out_a_h.keterangan %>
</p>

<p>
  <b>Id surat jalan:</b>
  <%= @m_warehouse_out_a_h.id_surat_jalan %>
</p>

<p>
  <b>Id so disp:</b>
  <%= @m_warehouse_out_a_h.id_so_disp %>
</p>

<p>
  <b>Id po disp:</b>
  <%= @m_warehouse_out_a_h.id_po_disp %>
</p>

<p>
  <b>Id supplier:</b>
  <%= @m_warehouse_out_a_h.id_supplier %>
</p>

<p>
  <b>Id customer:</b>
  <%= @m_warehouse_out_a_h.id_customer %>
</p>

<p>
  <b>Id gudang out:</b>
  <%= @m_warehouse_out_a_h.id_gudang_out %>
</p>

<p>
  <b>Is invoice:</b>
  <%= @m_warehouse_out_a_h.is_invoice %>
</p>

<p>
  <b>Id invoice disp:</b>
  <%= @m_warehouse_out_a_h.id_invoice_disp %>
</p>

<p>
  <b>Total qty out:</b>
  <%= @m_warehouse_out_a_h.total_qty_out %>
</p>

<p>
  <b>Updated by:</b>
  <%= @m_warehouse_out_a_h.updated_by %>
</p>

<p>
  <b>Created at:</b>
  <%= @m_warehouse_out_a_h.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @m_warehouse_out_a_h.updated_at %>
</p>

<p>
  <b>Status1:</b>
  <%= @m_warehouse_out_a_h.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @m_warehouse_out_a_h.st_progress %>
</p>

<p>
  <b>Is drafted:</b>
  <%= @m_warehouse_out_a_h.is_drafted %>
</p>

<p>
  <b>Nama referensi:</b>
  <%= @m_warehouse_out_a_h.nama_referensi %>
</p>

<p>
  <b>No revisi:</b>
  <%= @m_warehouse_out_a_h.no_revisi %>
</p>


<%= link_to 'Edit', edit_m_warehouse_out_a_h_path(@m_warehouse_out_a_h) %> |
<%= link_to 'Back', m_warehouse_out_a_hs_path %>
