<p id="notice"><%= notice %></p>

<p>
  <b>Id cabang:</b>
  <%= @m_warehouse_ks_brg_a.id_cabang %>
</p>

<p>
  <b>Id gudang:</b>
  <%= @m_warehouse_ks_brg_a.id_gudang %>
</p>

<p>
  <b>Kode brg:</b>
  <%= @m_warehouse_ks_brg_a.kode_brg %>
</p>

<p>
  <b>Qty real:</b>
  <%= @m_warehouse_ks_brg_a.qty_real %>
</p>

<p>
  <b>Qty mc:</b>
  <%= @m_warehouse_ks_brg_a.qty_mc %>
</p>


<%= link_to 'Edit', edit_m_warehouse_ks_brg_a_path(@m_warehouse_ks_brg_a) %> |
<%= link_to 'Back', m_warehouse_ks_brg_as_path %>
