<%= form_for(@admin_ms_modul_navigasi) do |f| %>
<table id="table_admin_ms_modul_navigasis" class="table table-bordered table-hover" align="center">
  <thead class="thead">
    <tr class="blankSpot">
      <input id="form_detail_method" type="hidden" value="post" name="_method">
      <th>
        <%= f.number_field :id_navigasi, class: "required", :style => "width:90%" %>
        <%= f.hidden_field :id_modul, value: @admin_ms_modul_navigasi.id_modul %>
      </th>
      <th><%= f.submit "Tambah Detail", class: :btn, onclick: "return isSimpan()", id: "form_detail_button" %></th>  
    </tr>
    <tr class="titleJudulTable">
      <th align="center">Nama navigasi</th>
      <th align="center">Nav</th>
    </tr>
  </thead>
  <% @admin_ms_modul_navigasis.each do |admin_ms_modul_navigasi| %>
  <tr>
    <td><%= admin_ms_modul_navigasi.id_navigasi %></td>
    <td>
      <%= link_to "D", admin_ms_modul_navigasi_path(admin_ms_modul_navigasi), method: :delete, confirm: "Hapus Item?", class: :btn %>
      <%= link_to "K", "#", data: admin_ms_modul_navigasi.to_json, class: "koreksiBtn btn" %>
    </td>
  </tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @admin_ms_modul_navigasis %> 
      </th>  
    </tr>  
  </thread>
</table>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.koreksiBtn').click(function(){
      var form = $('#new_admin_ms_modul_navigasi'),
      data = jQuery.parseJSON($(this).attr('data'));

      $('#admin_ms_modul_navigasi_id_navigasi').val(data.id_navigasi);

      form.attr('action', form.attr('action') + '/' + data.id );
      $('#form_detail_method').val('put');
      $('#form_detail_button').val('Update Detail');
      $('#form_detail_button').attr('onclick', 'isUpdate()')
    });
  });
</script>
