<%= form_for(@admin_ms_modul) do |f| %>
<table class="table-bordered" align="center" width="60%">
  <tr class="titleJudulTable">
    <th colspan="3">
      <%= title %>
    </th>
  </tr>
  <% render template: "/shared/errors", errors: @admin_ms_modul.errors if @admin_ms_modul.errors.any? %>
  <tr>
    <th align="left">&nbsp;Id_modul</th>  
    <th align="center"> :</th>
    <th align="left"> 
      <% if action_name.eql? "new" %>
        <%= f.text_field :id_modul, class: "required", value: AdminMsModul.maximum(:id_modul).succ, maxlength: 4, readonly: true, :style => "width:300px" %>
      <% else %>
        <%= f.text_field :id_modul, class: "required", maxlength: 4, readonly: true, :style => "width:300px" %>
      <% end %>
    </th> 
  </tr>
  <tr>
    <th align="left">&nbsp;Keterangan</th>  
    <th align="center"> :</th>
    <th align="left"> 
      <%= f.text_field :keterangan, :style => "width:300px", class: :required %>
    </th> 
  </tr>
  <tr>
    <th align="left">&nbsp;Status1</th>  
    <th align="center"> :</th>
    <th align="left"> 
      <%= f.text_field :status1, :style => "width:300px", class: :required %>
    </th> 
  </tr>
  <tr>
    <th align="left">&nbsp;Nama URL</th>  
    <th align="center"> :</th>
    <th align="left"> 
      <%= f.text_field :nm_url, :style => "width:300px", class: :required %>
    </th> 
  </tr>
  <tr>
    <th colspan="3" class="titleJudulTable" width="100%">
      <%= f.submit "Simpan", class: :btn, onclick: "isSimpan()" unless action_name.eql?('destroy_show')  %>
      <%= link_to "Hapus", admin_ms_modul_path(@admin_ms_modul.id), method: :delete, class: :btn, confirm: "Hapus data?" if action_name.eql?('destroy_show') %>
      <%= link_to "Tutup", "#", onclick: "is_tutup()", class: :btn %>
    </th>
  </tr>
</table>
<% end %>

<input type="hidden" id="url_back" name="admin_ms_modul_back" value="<%= admin_ms_moduls_path %>">
