<table class="table table-bordered table-hover" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11">
       ADMIN MASTER MODUL
      </th> 
    </tr>  
    <tr class="blankSpot">
      <th colspan="5" align="left">&nbsp;
        <%= link_to 'Tambah Data', new_admin_ms_modul_path, :class => "navigasi btn" %>
      </th>
    </tr>
    <tr class="titleJudulTable">
      <th align="center">Id modul</th>
      <th align="center">Keterangan</th>
      <th align="center">Modulname</th>
      <th align="center">Appname</th>
      <th align="center">Status1</th>
      <th align="center">Buttongroup</th>
      <th align="center">Nm url</th>
      <th align="center">Nm url1</th>
      <th align="center">Nm url2</th>
      <th align="center">Kduser</th>
      <th align="center">Tipemodul</th>
    </tr>
  </thead>
  <% @admin_ms_moduls.each do |admin_ms_modul| %>
  <tr onclick="redirectTo('<%= admin_ms_modul_path(admin_ms_modul.id, page: params[:page]) %>')">
    <td><%= admin_ms_modul.id_modul %></td>
    <td><%= admin_ms_modul.keterangan %></td>
    <td><%= admin_ms_modul.modulname %></td>
    <td><%= admin_ms_modul.appname %></td>
    <td><%= admin_ms_modul.status1 %></td>
    <td><%= admin_ms_modul.buttongroup %></td>
    <td><%= admin_ms_modul.nm_url %></td>
    <td><%= admin_ms_modul.nm_url1 %></td>
    <td><%= admin_ms_modul.nm_url2 %></td>
    <td><%= admin_ms_modul.kduser %></td>
    <td><%= admin_ms_modul.tipemodul %></td>
  </tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @admin_ms_moduls %> 
      </th>  
    </tr>  
  </thread>
</table>



