<p id="notice"><%= notice %></p>

<p>
  <b>Id modul:</b>
  <%= @admin_ms_modul.id_modul %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @admin_ms_modul.keterangan %>
</p>

<p>
  <b>Modulname:</b>
  <%= @admin_ms_modul.modulname %>
</p>

<p>
  <b>Appname:</b>
  <%= @admin_ms_modul.appname %>
</p>

<p>
  <b>Status1:</b>
  <%= @admin_ms_modul.status1 %>
</p>

<p>
  <b>Buttongroup:</b>
  <%= @admin_ms_modul.buttongroup %>
</p>

<p>
  <b>Nm url:</b>
  <%= @admin_ms_modul.nm_url %>
</p>

<p>
  <b>Nm url1:</b>
  <%= @admin_ms_modul.nm_url1 %>
</p>

<p>
  <b>Nm url2:</b>
  <%= @admin_ms_modul.nm_url2 %>
</p>

<p>
  <b>Kduser:</b>
  <%= @admin_ms_modul.kduser %>
</p>

<p>
  <b>Tipemodul:</b>
  <%= @admin_ms_modul.tipemodul %>
</p>


<%= link_to 'Edit', edit_admin_ms_modul_path(@admin_ms_modul) %> |
<%= link_to 'Back', admin_ms_moduls_path %>
