<p id="notice"><%= notice %></p>

<p>
  <b>Kode tmp:</b>
  <%= @m_beli_retur_a_h.kode_tmp %>
</p>

<p>
  <b>Kode disp:</b>
  <%= @m_beli_retur_a_h.kode_disp %>
</p>

<p>
  <b>Id cabang:</b>
  <%= @m_beli_retur_a_h.id_cabang %>
</p>

<p>
  <b>Simbol:</b>
  <%= @m_beli_retur_a_h.simbol %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @m_beli_retur_a_h.tanggal %>
</p>

<p>
  <b>No po disp:</b>
  <%= @m_beli_retur_a_h.no_po_disp %>
</p>

<p>
  <b>Id supplier:</b>
  <%= @m_beli_retur_a_h.id_supplier %>
</p>

<p>
  <b>Id valuta:</b>
  <%= @m_beli_retur_a_h.id_valuta %>
</p>

<p>
  <b>Nilai rate kurs:</b>
  <%= @m_beli_retur_a_h.nilai_rate_kurs %>
</p>

<p>
  <b>Total sub total:</b>
  <%= @m_beli_retur_a_h.total_sub_total %>
</p>

<p>
  <b>Total disc persen:</b>
  <%= @m_beli_retur_a_h.total_disc_persen %>
</p>

<p>
  <b>Total disc nominal:</b>
  <%= @m_beli_retur_a_h.total_disc_nominal %>
</p>

<p>
  <b>Total sub total kurang disc:</b>
  <%= @m_beli_retur_a_h.total_sub_total_kurang_disc %>
</p>

<p>
  <b>Total ppn disc:</b>
  <%= @m_beli_retur_a_h.total_ppn_disc %>
</p>

<p>
  <b>Total ppn nominal:</b>
  <%= @m_beli_retur_a_h.total_ppn_nominal %>
</p>

<p>
  <b>Total grand total:</b>
  <%= @m_beli_retur_a_h.total_grand_total %>
</p>

<p>
  <b>Total grand total po:</b>
  <%= @m_beli_retur_a_h.total_grand_total_po %>
</p>

<p>
  <b>Total dp:</b>
  <%= @m_beli_retur_a_h.total_dp %>
</p>

<p>
  <b>Total grand total retur:</b>
  <%= @m_beli_retur_a_h.total_grand_total_retur %>
</p>

<p>
  <b>Tgl kirim:</b>
  <%= @m_beli_retur_a_h.tgl_kirim %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @m_beli_retur_a_h.keterangan %>
</p>

<p>
  <b>Updated by:</b>
  <%= @m_beli_retur_a_h.updated_by %>
</p>

<p>
  <b>Status1:</b>
  <%= @m_beli_retur_a_h.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @m_beli_retur_a_h.st_progress %>
</p>

<p>
  <b>Qty all retur:</b>
  <%= @m_beli_retur_a_h.qty_all_retur %>
</p>

<p>
  <b>Qty sj:</b>
  <%= @m_beli_retur_a_h.qty_sj %>
</p>

<p>
  <b>Is ar:</b>
  <%= @m_beli_retur_a_h.is_ar %>
</p>

<p>
  <b>Id ar disp:</b>
  <%= @m_beli_retur_a_h.id_ar_disp %>
</p>

<p>
  <b>Is drafted:</b>
  <%= @m_beli_retur_a_h.is_drafted %>
</p>

<p>
  <b>No revisi:</b>
  <%= @m_beli_retur_a_h.no_revisi %>
</p>


<%= link_to 'Edit', edit_m_beli_retur_a_h_path(@m_beli_retur_a_h) %> |
<%= link_to 'Back', m_beli_retur_a_hs_path %>
