<p id="notice"><%= notice %></p>

<p>
  <b>Kode contact:</b>
  <%= @b_supplier_contact.kode_contact %>
</p>

<p>
  <b>Kode:</b>
  <%= @b_supplier_contact.kode %>
</p>

<p>
  <b>Kode kategori:</b>
  <%= @b_supplier_contact.kode_kategori %>
</p>

<p>
  <b>Nama:</b>
  <%= @b_supplier_contact.nama %>
</p>

<p>
  <b>Nama lengkap:</b>
  <%= @b_supplier_contact.nama_lengkap %>
</p>

<p>
  <b>Telepon:</b>
  <%= @b_supplier_contact.telepon %>
</p>

<p>
  <b>Handphone:</b>
  <%= @b_supplier_contact.handphone %>
</p>

<p>
  <b>Email:</b>
  <%= @b_supplier_contact.email %>
</p>

<p>
  <b>Tgl lahir:</b>
  <%= @b_supplier_contact.tgl_lahir %>
</p>

<p>
  <b>Telepon:</b>
  <%= @b_supplier_contact.telepon %>
</p>

<p>
  <b>Status1:</b>
  <%= @b_supplier_contact.status1 %>
</p>

<p>
  <b>String:</b>
  <%= @b_supplier_contact.string %>
</p>

<p>
  <b>Updated by:</b>
  <%= @b_supplier_contact.updated_by %>
</p>

<p>
  <b>:</b>
  <%= @b_supplier_contact. %>
</p>


<%= link_to 'Edit', edit_b_supplier_contact_path(@b_supplier_contact) %> |
<%= link_to 'Back', b_supplier_contacts_path %>
