<%= form_for(@admin_ms_navigasi) do |f| %>
  <% if @admin_ms_navigasi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_ms_navigasi.errors.count, "error") %> prohibited this admin_ms_navigasi from being saved:</h2>

      <ul>
      <% @admin_ms_navigasi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_navigasi %><br />
    <%= f.number_field :id_navigasi %>
  </div>
  <div class="field">
    <%= f.label :nama_navigasi %><br />
    <%= f.text_field :nama_navigasi %>
  </div>
  <div class="field">
    <%= f.label :nama_button %><br />
    <%= f.text_field :nama_button %>
  </div>
  <div class="field">
    <%= f.label :status1 %><br />
    <%= f.number_field :status1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
