<p id="notice"><%= notice %></p>

<p>
  <b>Id navigasi:</b>
  <%= @admin_ms_navigasi.id_navigasi %>
</p>

<p>
  <b>Nama navigasi:</b>
  <%= @admin_ms_navigasi.nama_navigasi %>
</p>

<p>
  <b>Nama button:</b>
  <%= @admin_ms_navigasi.nama_button %>
</p>

<p>
  <b>Status1:</b>
  <%= @admin_ms_navigasi.status1 %>
</p>


<%= link_to 'Edit', edit_admin_ms_navigasi_path(@admin_ms_navigasi) %> |
<%= link_to 'Back', admin_ms_navigasis_path %>
