<%= form_for(@a_mata_uang) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= title %></th></tr>
    <%= render partial: "shared/common_errors", locals: { object: @a_mata_uang } if @a_mata_uang.errors.any? %>
    <%= render partial: "navigator" unless action_name == 'new' %>
    <%= render partial: "columns", locals: { f: f, attributes: @attributes } %>
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit "Simpan", class: :btn unless action_name.eql?('destroy_show')  %>
        <%= link_to "Hapus", a_mata_uang_path(@a_mata_uang), method: :delete, class: :btn, confirm: "Hapus data?" unless ["create", "new"].include?(action_name) %>
        <%= link_to "Tutup", "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(a_mata_uangs_path) %>