<h1>Listing a_setting_programs</h1>

<table>
  <tr>
    <th>Id company</th>
    <th>Id gudang</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @a_setting_programs.each do |a_setting_program| %>
  <tr>
    <td><%= a_setting_program.id_company %></td>
    <td><%= a_setting_program.id_gudang %></td>
    <td><%= link_to 'Show', a_setting_program %></td>
    <td><%= link_to 'Edit', edit_a_setting_program_path(a_setting_program) %></td>
    <td><%= link_to 'Destroy', a_setting_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New A setting program', new_a_setting_program_path %>
