<p id="notice"><%= notice %></p>

<p>
  <b>Id company:</b>
  <%= @a_setting_program.id_company %>
</p>

<p>
  <b>Id gudang:</b>
  <%= @a_setting_program.id_gudang %>
</p>


<%= link_to 'Edit', edit_a_setting_program_path(@a_setting_program) %> |
<%= link_to 'Back', a_setting_programs_path %>
