<%= form_for(@b_barang) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= title %></th></tr>
    <%= render partial: "shared/common_errors", locals: { object: @b_barang } if @b_barang.errors.any? %>
    <%= render partial: "navigation" unless action_name == 'new' %>
    <%#= render partial: "columns", locals: { f: f, attributes: @attributes } %>
    <tr>
      <th align="left">
        &nbsp;Kode Barang
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left">
        <input id="id_satuan" value="<%= @b_barang.id_satuan %>" type="text" style="width:40px" disabled="disabled">
        <input id="id_department" value="<%= @b_barang.id_department %>" type="text" style="width:30px" disabled="disabled">
        <input id="id_golongan" value="<%= @b_barang.id_golongan %>" type="text" style="width:30px" disabled="disabled">
        <input id="id_type" type="text" value="<%= @b_barang.id_type %>" style="width:30px" disabled="disabled">
        <input id="id_level_four" value="<%= @b_barang.id_level_four %>" type="text" style="width:30px" disabled="disabled">
        <input id="id_level_five" value="<%= @b_barang.id_level_five %>" type="text" style="width:30px" disabled="disabled">

        <input type="text" value="<%= Time.now.strftime("%m/%d/%Y") %>" disabled="disabled" class="pull-right">
        <%= f.hidden_field :kode, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Nama Barang
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :nama, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
       &nbsp;Satuan
      </th>  
      <th align="center"> 
       :
      </th>
      <th align="left"> 
       <%= f.select :id_satuan, options_from_collection_for_select(@a_satuans, 'simbol', 'nama', @b_barang.id_satuan), {include_blank: true}, class: :required %>
      </th>
    </tr>
    <tr>
      <th align="left">
       &nbsp;Department
      </th>  
      <th align="center"> 
       :
      </th>
      <th align="left"> 
       <%= f.select :id_department, options_from_collection_for_select(@a_departments, 'kode', 'nama', @b_barang.id_department), {include_blank: true}, class: :required, data_combo: "department" %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Golongan
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.select :id_golongan, options_from_collection_for_select(@a_golongans, 'kode', 'nama', @b_barang.id_department), {include_blank: true}, class: :required, readonly: true, disabled: :disabled, data_combo: "golongan" %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Jenis
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.select :id_type, options_from_collection_for_select(@a_types, 'kode', 'nama', @b_barang.id_type), {include_blank: true}, class: :required, readonly: true, disabled: :disabled, data_combo: "type" %>
      </th> 
    </tr>
    <tr>
      <th align="left">
       &nbsp;Level 4
      </th>  
      <th align="center"> 
       :
      </th>
      <th align="left"> 
       <%= f.select :id_level_four, options_from_collection_for_select(@a_level_fours, 'kode', 'nama', @b_barang.id_level_four), {include_blank: true}, class: :required, readonly: true, disabled: :disabled, data_combo: "level4" %>
      </th> 
    </tr>
    <tr>
      <th align="left">
       &nbsp;Level 5
      </th>  
      <th align="center"> 
       :
      </th>
      <th align="left"> 
       <%= f.select :id_level_five, options_from_collection_for_select(@a_level_fifes, 'kode', 'nama', @b_barang.id_level_five), {include_blank: true}, class: :required, readonly: true, disabled: :disabled %>
      </th>
    </tr>
    <tr>
      <th align="left">
        &nbsp;Min Stok
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :min_stok, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Max Stok
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :max_stok, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Reorder Stok
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :reorder_stok, :style => "width:300px", class: :required %>
      </th> 
    </tr> 
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit "Simpan", class: :btn unless action_name.eql?('destroy_show')  %>
        <%= link_to "Hapus", b_barang_path(@b_barang), method: :delete, class: :btn, confirm: "Hapus data?" unless ["create", "new"].include?(action_name) %>
        <%= link_to "Tutup", "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(b_barangs_path) %>

<script type="text/javascript">
  var combo_departement = $('#b_barang_id_department'),
  combo_golongan = $('#b_barang_id_golongan'),
  combo_type = $('#b_barang_id_type'),
  combo_level_four = $('#b_barang_id_level_four')

  $(document).ready(function(){
    combo_departement.change(function(){
      $.get('<%= combobox_change_b_barangs_path %>', {
        type : $(this).attr('data_combo'),
        id_department: $(this).val()
      })
    });

    combo_golongan.change(function(){
      $.get('<%= combobox_change_b_barangs_path %>', {
        type : $(this).attr('data_combo'),
        id_department: combo_departement.val(),
        id_golongan: $(this).val()
      })
    });

    combo_type.change(function(){
      $.get('<%= combobox_change_b_barangs_path %>', {
        type : $(this).attr('data_combo'),
        id_department: combo_departement.val(),
        id_golongan: combo_golongan.val(),
        id_type : $(this).val()
      })
    });

    combo_level_four.change(function(){
      $.get('<%= combobox_change_b_barangs_path %>', {
        type : $(this).attr('data_combo'),
        id_department: combo_departement.val(),
        id_golongan: combo_golongan.val(),
        id_type : combo_type.val(),
        id_level_four: $(this).val()
      })
    });

    $("select").change(function(){
      var kode_id = $(this).attr('id').replace('b_barang_', '#')
      $(kode_id).val($(this).val());
    })

    <% if action_name.eql?('edit') %>
      var unlock_field = $('#b_barang_id_department, #b_barang_id_golongan, #b_barang_id_type, #b_barang_id_level_four, #b_barang_id_level_five');
      unlock_field.removeAttr('disabled');
      unlock_field.removeAttr('readonly');
    <% end %>
  });
</script>