<style>
#m_beli_nota_first_h_id_cabang { width: 285px; }
#m_beli_nota_first_h_id_valuta { width: 125px; }
#m_beli_nota_first_h_id_supplier { width: 150px; }
#valuta { width: 140px; }
#supplier { width: 115px; }
#bukti_terima_barang { height: 110px; }
</style>

<div class="header-form">
  <table style="float: left">
    <tr>
      <td><%= f.label :id_cabang, "Cabang".titleize, class: 'control-label' %></td>
      <td><%= f.select(:id_cabang, @company_profiles.map { |company_profile| [ company_profile.nama_company, company_profile.kode ] }, prompt: '- Cabang -' ) %></td>
    </tr>
    <tr>
      <td><%= f.label :kode_disp, "No Nota".titleize, class: 'control-label' %></td>
      <td><%= f.text_field :kode_disp, class: 'general-text-field' %></td>
    </tr>
    <tr>
      <td><%= f.label :tanggal, "Tanggal".titleize, class: 'control-label' %></td>
      <td><%= text_field_tag 'nota[tanggal]', @nota.tanggal.strftime("%d/%m/%Y"), 'data-date-format' => 'dd/mm/yyyy', class: 'general-text-field' %></td>
    </tr>
    <tr>
      <td><%= f.label :id_valuta, "Kurs".titleize, class: 'control-label' %></td>
      <td>
        <%= f.select(:id_valuta, @kurs.map { |kurs| [kurs.nama, kurs.id] }) %>
        <%= text_field_tag :valuta, "", disabled: 'disabled' %>
      </td>
    </tr>
    <tr>
      <td><%= label_tag :remark, "Remark", class: 'control-label' %></td>
      <td><%= text_area_tag :remark, "", class: 'general-text-field' %></td>
    </tr>
  </table>

  <table style="float: left">
    <tr>
      <td><%= f.label :no_po_disp, "No PO".titleize, class: 'control-label' %></td>
      <td><%= f.text_field :no_po_disp, class: 'general-text-field' %></td>
    </tr>
    <tr>
      <td><%= f.label :id_supplier, "Supplier".titleize, class: 'control-label' %></td>
      <td>
        <%= f.select(:id_supplier, @suppliers.map { |supplier| [ supplier.nama, supplier.id ] }, prompt: '- Supplier -') %>
        <%= text_field_tag :supplier, "" %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :tgl_jth_tempo, "Jatuh tempo".titleize, class: 'control-label' %></td>
      <td><%= text_field_tag 'nota[tgl_jth_tempo]', @nota.tgl_jth_tempo.blank? ? '' : @nota.tgl_jth_tempo.strftime("%d/%m/%Y"), 'data-date-format' => 'dd/mm/yyyy', class: 'general-text-field' %></td>
    </tr>
    <tr>
      <td><%= label_tag :bukti_terima_barang, "Bukti terima barang".titleize, class: 'control-label' %></td>
      <td><%= text_area_tag :bukti_terima_barang, "", class: 'general-text-field' %></td>
    </tr>
  </table>
</div>

<script>
$(function() {
  $('#nota_tanggal').datepicker();
  $('#nota_tgl_jth_tempo').datepicker();

  $('#m_beli_nota_first_h_id_supplier').change(function() {
    var supplier = $('#m_beli_nota_first_h_id_supplier');
    $.ajax({
      url: '<%= m_beli_nota_first_h_get_alamat_supplier_path(@nota) %>?id=' + supplier.attr('value')
    });
  });
});
</script>