<%= form_for @nota, url: { controller: :m_beli_nota_first_hs, action: :undraft }, html: { class: 'form-horizontal' } do |f| %>
  <table class="table table-bordered table-hover" width="60%" align="center">
    <thead class="thead">
      <tr class="titleJudul" style="font-size : 12pt">
        <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
      </tr>
      <tr class="blankSpot"><td colspan="<%= @detailed_columns.count %>"><%= render partial: 'header_form', locals: { f: f } %></td></tr>
      <tr class="blankSpot"><td colspan="<%= @detailed_columns.count %>"><%= link_to 'Tambah', "javascript:void(0)", class: 'btn', id: 'showingSearch' %></td></tr>
      <tr class="titleJudulTable">
        <% @detailed_columns.each do |column| %>
          <th><%= column.upcase %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if @details.count > 0 %>
        <% @details.each_with_index do |detail, index| %>
          <tr>
          </tr>
        <% end %>
      <% else %>
        <tr><td colspan="<%= @detailed_columns.count %>" style="text-align: center"><%= EMPTY_DATA %></td></tr>
      <% end %>
      <tr class="blankSpot">
        <td colspan="<%= @detailed_columns.count %>">
          <div class="control-group pull-right"><br />
          </div>
        </td>
      </tr>
      <tr class="blankSpot"><td colspan="<%= @detailed_columns.count %>"><%= submit_tag 'Buat Nota', class: 'btn' %></td></tr>
    </tbody>
  </table>
<% end %>

<!-- Modal -->
<%= form_tag "", method: :post do %>
  <div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= SEARCH %></h3>
    </div>
    <div class="modal-body">
      <%= select_tag(:department_id, options_for_select(ADepartment.all.collect { |department| [ department.nama, department.id ] } ), prompt: '- Department -') %><br />
      <%= select_tag(:golongan_id, "", prompt: '- Golongan -', disabled: true) %><br />
      <%= select_tag(:type_id, "", prompt: '- Jenis -', disabled: true) %><br />
      <%= select_tag(:level_four_id, "", prompt: '- Level 4 -', disabled: true) %><br />
      <%= select_tag(:level_five_id, "", prompt: '- Level 5 -', disabled: true) %><br /><br />
      <%= link_to "Search", "javascript:void(0)", class: 'btn btn-primary', id: "search_barang" %><br /><br />
      <div style="width: 800px;">
        <table class="table table-bordered table-hover" width="60%">
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
<% end %>
