<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
    </tr>
    <tr class="blankSpot">
      <th colspan="11" align="left">&nbsp;
        <%= link_to ADD, new_m_beli_nota_first_h_path, class: "navigasi btn" %>
        <a id="searchLink" class="navigasi btn" href="javascript:void(0)" style="float:right"><%= SEARCH %></a>
      </th>
    </tr>
    <tr class="titleJudulTable">
      <% @column_titles.each do |title| %>
        <th><%= title.upcase %></th>
      <% end %>
    </tr>
  </thead>
  <% if @notas.count > 0 %>
    <% @notas.each do |nota| %>
      <tr>
        <td><%= nota.tanggal.strftime("%x") %></td>
        <td><%= nota.kode_disp %></td>
        <td><%= nota.no_po_disp %></td>
        <td><%= nota.supplier.blank? ? '' : nota.supplier.nama %></td>
        <td><%= nota.valuta.blank? ? '' : nota.valuta.simbol %></td>
        <td><%= nota.total_grand_total_po %></td>
        <td><%= nota.total_grand_total %></td>
        <td><%= nota.total_grand_total_retur %></td>
        <td><%= nota.total_dp %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="<%= @column_titles.count %>" style="text-align: center"><%= EMPTY_DATA %></td></tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @notas %>
      </th>
    </tr>
  </thead>
</table>

<!-- Modal -->
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag "", class: 'form-horizontal' do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= SEARCH %> nota</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= CLOSE %></button>
      <button class="btn btn-primary" id="search"><%= SEARCH %></button>&nbsp &nbsp<span id="empty" style="color: red; display: none;">* Setidaknya satu field harus diisi</span>
    </div>
  <% end %>
</div>

<%= link_to BACK, "javascript:void(0)", class: 'btn btn-success' if action_name == 'search' %>

<script>
$(function() {
  $('#searchLink').click(function() {
    $('#searchModal').modal();
  });

  $('#date_from').datepicker();
  $('#date_to').datepicker();
});
</script>