<p id="notice"><%= notice %></p>

<p>
  <b>Id cabang:</b>
  <%= @m_warehouse_ks_brg_c_ext.id_cabang %>
</p>

<p>
  <b>Id gudang:</b>
  <%= @m_warehouse_ks_brg_c_ext.id_gudang %>
</p>

<p>
  <b>Kode brg:</b>
  <%= @m_warehouse_ks_brg_c_ext.kode_brg %>
</p>

<p>
  <b>Kode brg ext:</b>
  <%= @m_warehouse_ks_brg_c_ext.kode_brg_ext %>
</p>

<p>
  <b>Qty real:</b>
  <%= @m_warehouse_ks_brg_c_ext.qty_real %>
</p>

<p>
  <b>Qty mc:</b>
  <%= @m_warehouse_ks_brg_c_ext.qty_mc %>
</p>


<%= link_to 'Edit', edit_m_warehouse_ks_brg_c_ext_path(@m_warehouse_ks_brg_c_ext) %> |
<%= link_to 'Back', m_warehouse_ks_brg_c_exts_path %>
