<%= form_for(@a_level_fife) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= title %></th></tr>
    <%= render template: "/shared/errors", errors: @a_level_fife.errors if @a_level_fife.errors.any? %>
    <%= render partial: "navigator" unless action_name == 'new' %>
    <%#= render partial: "columns", locals: { f: f, attribute: @attributes } %>
    <tr>
      <th align="left">
       &nbsp;Department
      </th>  
      <th align="center"> 
       :
      </th>
      <th align="left"> 
       <%= f.select :id_department, options_from_collection_for_select(@a_departments, 'kode', 'nama', @a_level_fife.id_department), {}, class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Golongan
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.select :id_golongan, options_from_collection_for_select(@a_golongans, 'kode', 'nama', @a_level_fife.id_department), {}, class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Jenis
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.select :id_type, options_from_collection_for_select(@a_types, 'kode', 'nama', @a_level_fife.id_department), {}, class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
       &nbsp;Level 4
      </th>  
      <th align="center"> 
       :
      </th>
      <th align="left"> 
       <%= f.select :id_level_four, options_from_collection_for_select(@a_level_fours, 'kode', 'nama', @a_level_fife.id_level_four), {}, class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Kode Level 5
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :kode, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Nama Level 4
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :nama, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th align="left">
        &nbsp;Simbol
      </th>  
      <th align="center"> 
        :
      </th>
      <th align="left"> 
        <%= f.text_field :simbol, :style => "width:300px", class: :required %>
      </th> 
    </tr>
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit "Simpan", class: :btn unless action_name.eql?('destroy_show')  %>
        <%= link_to "Hapus", a_level_fife_path(@a_level_fife), method: :delete, class: :btn, confirm: "Hapus data?" if action_name.eql?('destroy_show') %>
        <%= link_to "Tutup", "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(a_level_fives_path) %>