<p id="notice"><%= notice %></p>

<p>
  <b>Id menu:</b>
  <%= @admin_ms_menu_group_nav.id_menu %>
</p>

<p>
  <b>Id group:</b>
  <%= @admin_ms_menu_group_nav.id_group %>
</p>

<p>
  <b>Id navigasi:</b>
  <%= @admin_ms_menu_group_nav.id_navigasi %>
</p>


<%= link_to 'Edit', edit_admin_ms_menu_group_nav_path(@admin_ms_menu_group_nav) %> |
<%= link_to 'Back', admin_ms_menu_group_navs_path %>
