<!-- Stylesheet -->
<style>
label, span { color: black; }
div.header-data { margin: 0 250px; }
</style>
<!-- Stylesheet -->

<div class="header-data">
  <table class="table-condensed"  style="float: left">
    <tr>
      <td><%= f.label :no_penawaran, "No penawaran".titleize %></td>
      <td><%= f.text_field :no_penawaran %></td>
    </tr>
    <tr>
      <td><%= label_tag :supplier_id, "Supplier" %></td>
      <td><%= select_tag(:supplier_id, options_for_select(BSupplier.all.collect { |supplier| [ supplier.nama, supplier.id ] }), prompt: '- Supplier -') %></td>
    </tr>
    <tr>
      <td><%= label_tag :alamat_supplier, "Alamat Supplier" %></td>
      <td><%= text_area_tag :alamat_supplier, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' } %></td>
    </tr>
    <tr>
      <td><%= label_tag :kurs_id, "Kurs" %></td>
      <td>
        <%= select_tag(:kurs_id, options_for_select(AMataUang.all.collect { |mata_uang| [ mata_uang.nama, mata_uang.id ] }), prompt: '- Mata Uang -', style: 'width: 125px;') %>
        <%= text_field_tag :kurs_value, "", disabled: 'disabled', style: 'width: 75px' %> <span id="simbol_mata_uang">Rp</span>
      </td>
    </tr>
  </table>

  <table class="table-condensed" style="float: left; margin-left: 20px;">
    <tr>
      <td><%= f.label :kode_disp, "No PO" %></td>
      <td><%= f.text_field :kode_disp %></td>
    </tr>
    <tr>
      <td><%= f.label :tanggal, "Tanggal" %></td>
      <td><%= text_field_tag "m_beli_po_first_h[tanggal]", @m_beli_po_first_h.tanggal.strftime("%d/%m/%Y"), 'data-date-format' => 'dd/mm/yyyy' %></td>
    </tr>
    <tr>
      <td><%= label_tag :gudang_id, "Gudang" %></td>
      <td><%= select_tag(:gudang_id, options_for_select(ACompanyProfile.all.collect { |company_profile| [ company_profile.nama_company, company_profile.id ] }), prompt: '- Gudang -') %></td>
    </tr>
    <tr>
      <td><%= label_tag :alamat_gudang, "Alamat Gudang" %></td>
      <td><%= text_area_tag :alamat_gudang, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' } %></td>
    </tr>
  </table>
</div>

<!-- Javascript -->
<script>
$(function() {
  $('#supplier_id').change(function() {
    $.ajax({
      url: '<%= get_supplier_m_beli_po_first_hs_path %>?id=' + $('#supplier_id').val()
    });
  });

  $('#gudang_id').change(function() {
    $.ajax({
      url: '<%= get_gudang_m_beli_po_first_hs_path %>?id=' + $('#gudang_id').val()
    });
  });

  $('#kurs_id').change(function() {
    var kurs_type = $('#kurs_id option:selected').text();
    if (kurs_type == 'Dollar') {
      $('#kurs_value').attr('value', '9800');
    } else if (kurs_type == 'Rupiah') {
      $('#kurs_value').attr('value', '1');
    } else {
      $('#kurs_value').attr('value', '');
    }
  });
});
</script>
<!-- Javascript -->
