<style>
  div.span8 { color: 'black' }
</style>
<div class="row16">
  <div class="span8" style="color: black;">
    <div class="control-group">
      <%= f.label :no_penawaran, "No penawaran".titleize, class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :no_penawaran %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :supplier_id, "Supplier", class: 'control-label' %>
      <div class="controls">
        <%= select_tag(:supplier_id, options_for_select(BSupplier.all.collect { |supplier| [ supplier.nama, supplier.id ] }), prompt: '- Supplier -') %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :alamat_supplier, "Alamat Supplier", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :alamat_supplier, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' } %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :telepon_supplier, "Telepon Supplier", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :telepon_supplier, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' } %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :fax_supplier, "Fax Supplier", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :fax_supplier, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' } %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :kurs_id, "Kurs", class: 'control-label' %>
      <div class="controls">
        <%= select_tag(:kurs_id, options_for_select(AMataUang.all.collect { |mata_uang| [ mata_uang.nama, mata_uang.id ] }), prompt: '- Mata Uang -') %> &nbsp <span id="simbol_mata_uang"></span>
      </div>
    </div>
  </div>
  <div class="span8" style="color: black;">
    <div class="control-group">
      <%= f.label :kode_disp, "No PO", class: 'control-label' %>
      <div class="controls">
        <%= f.text_field :kode_disp %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :tanggal, "Tanggal", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag "m_beli_po_first_h[tanggal]", @m_beli_po_first_h.tanggal.strftime("%m/%d/%Y") %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :gudang_id, "Gudang", class: 'control-label' %>
      <div class="controls">
        <%= select_tag(:gudang_id, options_for_select(ACompanyProfile.all.collect { |company_profile| [ company_profile.nama_company, company_profile.id ] }), prompt: '- Gudang -') %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :alamat_gudang, "Alamat Gudang", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :alamat_gudang, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' }  %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :telepon_gudang, "Telepon Gudang", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :telepon_gudang, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' }  %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :fax_gudang, "Fax Gudang", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :fax_gudang, NOT_FOUND_DATA, { read_only: true, disabled: 'disabled' }  %>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#supplier_id').change(function() {
    $.ajax({
      url: '<%= get_supplier_m_beli_po_first_hs_path %>?id=' + $('#supplier_id').val()
    });
  });

  $('#gudang_id').change(function() {
    $.ajax({
      url: '<%= get_gudang_m_beli_po_first_hs_path %>?id=' + $('#gudang_id').val()
    });
  });

  $('#kurs_id').change(function() {
    $.ajax({
      url: '<%= get_mata_uang_m_beli_po_first_hs_path %>?id=' + $('#kurs_id').val()
    });
  });
});
</script>