<% if @feature == 'warehouse' %>
  <% barang_ids = [] %>
  <% barangs.each do |barang| %>
    <% unless MWarehouseInSecondD.where(kode_brg: barang.kode).where(kode_tmp: params[:id]).blank? %>
      <% barang_ids << MWarehouseInSecondD.where(kode_brg: barang.kode).where(kode_tmp: params[:id]) %>
    <% end %>
  <% end %>
  <% if barangs.count == barang_ids.count %>
    <tr><td style="text-align: center" colspan="<%= @search_columns.count %>"><%= EMPTY_DATA %></td></tr>
  <% else %>
    <% index = 0 %>
    <% barangs.each do |barang| %>
      <% if MWarehouseInSecondD.where(kode_brg: barang.kode).where(kode_tmp: params[:id]).blank? %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= barang.kode %></td>
          <td><%= barang.nama %></td>
          <td><%= text_field_tag "detail[qty][]" %></td>
          <td><%= select_tag("detail[kemasan_id][]", options_for_select(ASatuan.all.collect { |satuan| [ satuan.nama, satuan.id ] } )) %></td>
          <td><%= text_field_tag "detail[no_lot][]" %></td>
          <td><%= check_box_tag "detail[checked][#{index}][]" %></td>
        </tr>
        <%= hidden_field_tag "detail[id][]", barang.id %>
        <% index += 1 %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <% barang_ids = [] %>
  <% barangs.each do |barang| %>
    <% unless MBeliPoSecondD.where(kode_barang: barang.kode).where(kode_tmp: params[:id]).blank? %>
      <% barang_ids << MBeliPoSecondD.where(kode_barang: barang.kode).where(kode_tmp: params[:id]) %>
    <% end %>
  <% end %>
  <% if barangs.count == barang_ids.count %>
    <tr><td style="text-align: center" colspan="<%= @search_columns.count %>"><%= EMPTY_DATA %></td></tr>
  <% else %>
    <% index = 0 %>
    <% barangs.each do |barang| %>
      <% if MBeliPoSecondD.where(kode_barang: barang.kode).where(kode_tmp: params[:id]).blank? %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= barang.kode %></td>
          <td><%= barang.nama %></td>
          <td><%= text_field_tag "detail[qty1][]" %></td>
          <td><%= select_tag("detail[kemasan_id][]", options_for_select(AKemasan.all.collect { |kemasan| [ kemasan.nama, kemasan.id ] } )) %></td>
          <td><%= text_field_tag "detail[qty2][]" %></td>
          <td><%= text_field_tag "detail[harga][]" %></td>
          <td><%= text_field_tag "detail[disc][]" %></td>
          <td><%= check_box_tag "detail[checked][#{index}][]" %></td>
        </tr>
        <%= hidden_field_tag "detail[id][]", barang.id %>
        <% index += 1 %>
      <% end %>
    <% end %>
  <% end %>
<% end %>