<%= form_for @m_beli_po_first_h, url: { controller: :m_beli_po_first_hs, action: :undraft }, html: { class: 'form-horizontal' } do |f| %>
  <table class="table table-bordered table-hover" width="60%" align="center">
    <thead class="thead">
      <tr class="titleJudul" style="font-size : 12pt">
        <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
      </tr>
      <tr class="blankSpot"><td colspan="<%= @detailed_columns.count %>"><%= render partial: 'header_form', locals: { f: f } %></td></tr>
      <tr class="blankSpot"><td colspan="<%= @detailed_columns.count %>"><%= link_to 'Tambah', "javascript:void(0)", class: 'btn', id: 'showingSearch' %></td></tr>
      <tr class="titleJudulTable">
        <% @detailed_columns.each do |column| %>
          <th><%= column.upcase %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @total_kurang_diskon = 0 %>
      <% if @m_beli_po_second_ds.count > 0 %>
        <% @m_beli_po_second_ds.each_with_index do |detail, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= detail.kode_barang %></td>
            <td><%= BBarang.find_by_kode(detail.kode_barang).nama %></td>
            <td><%= detail.qty_kemasan %></td>
            <td><%= detail.a_kemasan.nama %></td>
            <td><%= detail.qty %></td>
            <td><%= detail.harga %></td>
            <td><%= detail.diskon %></td>
            <td><%= detail.total_kurang_diskon %></td>
            <td>
              <%= link_to "Edit", "javascript:void(0)", id: 'edit_detail', value: "#{detail.id}" %> &nbsp - &nbsp
              <%= link_to "Destroy", "javascript:void(0)", id: 'destroy_detail', value: "#{detail.id}" %>
            </td>
          </tr>
        <% @total_kurang_diskon = @total_kurang_diskon + detail.total_kurang_diskon.to_i %> 
        <% end %>
      <% else %>
        <tr><td colspan="<%= @detailed_columns.count %>" style="text-align: center"><%= EMPTY_DATA %></td></tr>
      <% end %>
      <tr class="blankSpot">
        <td colspan="<%= @detailed_columns.count %>">
          <div class="control-group pull-right"><br />
            <%= label_tag "po_header[total_sub_total]", "Sub total".titleize, style: 'color: black; ', class: 'control-label' %>
            <div class="controls" style="margin-bottom: 10px;">
              <%= text_field_tag "po_header[total_sub_total]", @total_kurang_diskon, disabled: 'disabled' %>
            </div>
            <%= label_tag "po_header[total_disc_persen]", "Discount".titleize, style: 'color: black; ', class: 'control-label' %>
            <div class="controls" style="margin-bottom: 10px;">
              <%= text_field_tag "po_header[total_disc_persen]", @m_beli_po_first_h.total_disc_persen.blank? ? "0" : @m_beli_po_first_h.total_disc_persen, class: 'span1' %> &nbsp <span style="color: black;">%</span> &nbsp <%= text_field_tag "po_header[total_disc_nominal]", @m_beli_po_first_h.total_disc_nominal.blank? ? "0" : @m_beli_po_first_h.total_disc_nominal, style: 'width: 118px;', disabled: 'disabled' %>
            </div>
            <%= label_tag "po_header[total_sub_total_kurang_disc]", "Sub total - Diskon".titleize, style: 'color: black; ', class: 'control-label' %>
            <div class="controls" style="margin-bottom: 10px;">
              <%= text_field_tag "po_header[total_sub_total_kurang_disc]", @m_beli_po_first_h.total_sub_total_kurang_disc.blank? ? "0" : @m_beli_po_first_h.total_sub_total_kurang_disc.blank? ? "0" : @m_beli_po_first_h.total_sub_total_kurang_disc, disabled: 'disabled' %>
            </div>
            <%= label_tag "po_header[total_ppn_disc]", "PPN", style: 'color: black; ', class: 'control-label' %>
            <div class="controls" style="margin-bottom: 10px;">
              <%= text_field_tag "po_header[total_ppn_disc]", @m_beli_po_first_h.total_ppn_disc.blank? ? "0" : @m_beli_po_first_h.total_ppn_disc, class: 'span1' %> &nbsp <span style="color: black;">%</span> &nbsp <%= text_field_tag "po_header[total_ppn_nominal]", @m_beli_po_first_h.total_ppn_nominal.blank? ? "0" : @m_beli_po_first_h.total_ppn_disc, style: 'width: 118px;', disabled: 'disabled' %>
            </div>
            <%= label_tag "po_header[total_grand_total]", "Grand total".titleize, style: 'color: black; ', class: 'control-label' %>
            <div class="controls" style="margin-bottom: 10px;">
              <%= text_field_tag "po_header[total_grand_total]", @m_beli_po_first_h.total_grand_total.blank? ? "0" : @m_beli_po_first_h.total_ppn_disc, disabled: 'disabled' %>
            </div>
            <%= hidden_field(:po_header_hidden, :total_sub_total, value: @total_kurang_diskon) %>
          </div>
        </td>
      </tr>
      <tr class="blankSpot"><td colspan="<%= @detailed_columns.count %>"><%= submit_tag 'Buat PO', class: 'btn' %></td></tr>
    </tbody>
  </table>
<% end %>

<!-- Modal -->
<%= form_tag(m_beli_po_first_h_m_beli_po_second_ds_path(@m_beli_po_first_h), method: :post) do %>
  <div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= SEARCH %></h3>
    </div>
    <div class="modal-body">
      <%= select_tag(:department_id, options_for_select(ADepartment.all.collect { |department| [ department.nama, department.id ] } ), prompt: '- Department -') %><br />
      <%= select_tag(:golongan_id, "", prompt: '- Golongan -', disabled: true) %><br />
      <%= select_tag(:type_id, "", prompt: '- Jenis -', disabled: true) %><br />
      <%= select_tag(:level_four_id, "", prompt: '- Level 4 -', disabled: true) %><br />
      <%= select_tag(:level_five_id, "", prompt: '- Level 5 -', disabled: true) %><br /><br />
      <%= link_to "Search", "javascript:void(0)", class: 'btn btn-primary', id: "search_barang" %><br /><br />
      <div style="width: 800px;">
        <table class="table table-bordered table-hover" width="60%">
          <thead class="thead">
            <tr class="titleJudulTable">
              <% @search_columns.each do |column| %>
                <th><%= column.upcase %></th>
              <% end %>
            </tr>
          </thead>
          <tbody id="populated_data">
            <tr><td colspan="<%= @search_columns.count %>" style="text-align: center"><span id="data"><%= EMPTY_DATA %></span></td></tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
<% end %>

<%= render partial: 'edit_modal' %>
<%= render partial: 'destroy_modal' %>

<script>
$(function() {
  $('#department_id').attr('val', '');
  $('#golongan_id').attr('disabled', 'disabled');
  $('#type_id').attr('disabled', 'disabled');
  $('#level_four_id').attr('disabled', 'disabled');
  $('#level_five_id').attr('disabled', 'disabled');

  $('#showingSearch').click(function() {
    $('#searchModal').modal();
  });

  $('a#edit_detail').click(function() {
    $.ajax({
      url: '<%= m_beli_po_first_h_modify_edit_form_path(@m_beli_po_first_h) %>?detail_id=' + $(this).attr('value')
    });

    $('#edit').modal();
  });

  $('a#destroy_detail').click(function() {
    $.ajax({
      url: '<%= m_beli_po_first_h_modify_destroy_form_path(@m_beli_po_first_h) %>?detail_id=' + $(this).attr('value')
    });
    
    $('#destroy_show').modal();
  });

  $('#m_beli_po_first_h_tanggal').datepicker();
  $('#department_id').change(function() {
    if ($('#department_id').val() != '') {
      $('#golongan_id').removeAttr('disabled');
      $.ajax({
        url: '<%= get_golongan_m_beli_po_first_hs_path %>?id=' + $('#department_id').val()
      });
      $('#type_id').attr('value', '');
      $('#type_id').attr('disabled', 'disabled');
      $('#level_four_id').attr('value', '');
      $('#level_four_id').attr('disabled', 'disabled');
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    } else if ($('#department_id').val() == '') {
      $('#golongan_id').attr('value', '');
      $('#golongan_id').attr('disabled', 'disabled');
      $('#type_id').attr('value', '');
      $('#type_id').attr('disabled', 'disabled');
      $('#level_four_id').attr('value', '');
      $('#level_four_id').attr('disabled', 'disabled');
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    }
  });

  $('#golongan_id').change(function() {
    if ($('#golongan_id').val() != '') {
      $('#type_id').removeAttr('disabled');
      $.ajax({
        url: '<%= get_type_m_beli_po_first_hs_path %>?id=' + $('#golongan_id').val()
      });
      $('#level_four_id').attr('value', '');
      $('#level_four_id').attr('disabled', 'disabled');
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    } else if ($('#golongan_id').val() == '') {
      $('#type_id').attr('value', '');
      $('#type_id').attr('disabled', 'disabled');
      $('#level_four_id').attr('value', '');
      $('#level_four_id').attr('disabled', 'disabled');
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    }
  });

  $('#type_id').change(function() {
    if ($('#type_id').val() != '') {
      $('#level_four_id').removeAttr('disabled');
      $.ajax({
        url: '<%= get_level_four_m_beli_po_first_hs_path %>?id=' + $('#type_id').val()
      });
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    } else if ($('#type_id').val() == '') {
      $('#level_four_id').attr('value', '');
      $('#level_four_id').attr('disabled', 'disabled');
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    }
  });

  $('#level_four_id').change(function() {
    if ($('#level_four_id').val() != '') {
      $('#level_five_id').removeAttr('disabled');
      $.ajax({
        url: '<%= get_level_five_m_beli_po_first_hs_path %>?id=' + $('#level_four_id').val()
      });
    } else if ($('#level_four_id').val() == '') {
      $('#level_five_id').attr('value', '');
      $('#level_five_id').attr('disabled', 'disabled');
    }
  });

  $('#search_barang').click(function() {
    if ($('#department_id').val() != '') {
      $.ajax({
        url: '<%= populate_barangs_m_beli_po_first_hs_path %>?id=<%= params[:id] %>' + '&department_id=' + $('#department_id').val() + '&golongan_id=' + $('#golongan_id').val() + '&type_id=' + $('#type_id').val() + '&level_four_id=' + $('#level_four_id').val() + '&level_five_id=' + $('#level_five_id').val() ,
        beforeSend: function() {
          $('tbody#populated_data').html('<tr><td colspan="<%= @search_columns.count %>" style="text-align: center"><%= image_tag('loader.gif', width: '30px') %></td></tr>');
        },
        complete: function() {
          $('#data').html('<%= EMPTY_DATA %>');
        }
      });
    } else {
      alert('Department is empty');
      return false;
    }
  });

  var sub_total = $('#po_header_total_sub_total').val();
  var discount_percent = $('#po_header_total_disc_persen').val();
  
  function handleChange(event)
  {
      var e = $(event.target);

      var oldvalue = "" + e.data('oldvalue');
      var newvalue = "" + e.val();
      if (oldvalue != newvalue)
      {
          var sub_total_diskon = (e.val() * sub_total) / 100;
          $('#po_header_total_disc_nominal').attr('value', sub_total_diskon );
          $('#po_header_total_sub_total_kurang_disc').attr('value', sub_total - sub_total_diskon);

          var temporary_total = $('#po_header_total_sub_total_kurang_disc').val();
          $('#po_header_total_ppn_nominal').attr('value', temporary_total * $('#po_header_total_ppn_disc').val() / 100);
          grand_total = temporary_total - (temporary_total * $('#po_header_total_ppn_disc').val() / 100);
          $('#po_header_total_grand_total').attr('value', grand_total);
          e.data('oldvalue', newvalue);
      }
  }

  $(function(){
      $('#po_header_total_disc_persen')
          .bind('change', handleChange)
          .bind('blur', handleChange)
          .bind('keydown', handleChange)
          .bind('keyup', handleChange)
          .data('oldvalue', '');
  });

  function handleChange2(event)
  {
      var e = $(event.target);

      var oldvalue = "" + e.data('oldvalue');
      var newvalue = "" + e.val();
      if (oldvalue != newvalue)
      {
          total_ppn = e.val() * $('#po_header_total_sub_total_kurang_disc').val() / 100;
          $('#po_header_total_ppn_nominal').attr('value', total_ppn);
          $('#po_header_total_grand_total').attr('value', $('#po_header_total_sub_total_kurang_disc').val() - total_ppn);
          e.data('oldvalue', newvalue);
      }
  }

  $(function(){
      $('#po_header_total_ppn_disc')
          .bind('change', handleChange2)
          .bind('blur', handleChange2)
          .bind('keydown', handleChange2)
          .bind('keyup', handleChange2)
          .data('oldvalue', '');
  });

});
</script>