<p id="notice"><%= notice %></p>

<p>
  <b>Kode tmp:</b>
  <%= @m_beli_po_first_h.kode_tmp %>
</p>

<p>
  <b>Kode disp:</b>
  <%= @m_beli_po_first_h.kode_disp %>
</p>

<p>
  <b>Id cabang:</b>
  <%= @m_beli_po_first_h.id_cabang %>
</p>

<p>
  <b>Simbol:</b>
  <%= @m_beli_po_first_h.simbol %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @m_beli_po_first_h.tanggal %>
</p>

<p>
  <b>No penawaran:</b>
  <%= @m_beli_po_first_h.no_penawaran %>
</p>

<p>
  <b>Id supplier:</b>
  <%= @m_beli_po_first_h.id_supplier %>
</p>

<p>
  <b>Id alamat supplier:</b>
  <%= @m_beli_po_first_h.id_alamat_supplier %>
</p>

<p>
  <b>Id valuta:</b>
  <%= @m_beli_po_first_h.id_valuta %>
</p>

<p>
  <b>Nilai rate kurs:</b>
  <%= @m_beli_po_first_h.nilai_rate_kurs %>
</p>

<p>
  <b>Total sub total:</b>
  <%= @m_beli_po_first_h.total_sub_total %>
</p>

<p>
  <b>Total disc persen:</b>
  <%= @m_beli_po_first_h.total_disc_persen %>
</p>

<p>
  <b>Total disc nominal:</b>
  <%= @m_beli_po_first_h.total_disc_nominal %>
</p>

<p>
  <b>Total sub total kurang disc:</b>
  <%= @m_beli_po_first_h.total_sub_total_kurang_disc %>
</p>

<p>
  <b>Total ppn disc:</b>
  <%= @m_beli_po_first_h.total_ppn_disc %>
</p>

<p>
  <b>Total ppn nominal:</b>
  <%= @m_beli_po_first_h.total_ppn_nominal %>
</p>

<p>
  <b>Total grand total:</b>
  <%= @m_beli_po_first_h.total_grand_total %>
</p>

<p>
  <b>Tgl kirim:</b>
  <%= @m_beli_po_first_h.tgl_kirim %>
</p>

<p>
  <b>Tgl jth tempo:</b>
  <%= @m_beli_po_first_h.tgl_jth_tempo %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @m_beli_po_first_h.keterangan %>
</p>

<p>
  <b>Keterangan syarat bayar:</b>
  <%= @m_beli_po_first_h.keterangan_syarat_bayar %>
</p>

<p>
  <b>Updated by:</b>
  <%= @m_beli_po_first_h.updated_by %>
</p>

<p>
  <b>Status1:</b>
  <%= @m_beli_po_first_h.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @m_beli_po_first_h.st_progress %>
</p>

<p>
  <b>Qty all po:</b>
  <%= @m_beli_po_first_h.qty_all_po %>
</p>

<p>
  <b>Qty all btb:</b>
  <%= @m_beli_po_first_h.qty_all_btb %>
</p>

<p>
  <b>Qty all close:</b>
  <%= @m_beli_po_first_h.qty_all_close %>
</p>

<p>
  <b>Total nota:</b>
  <%= @m_beli_po_first_h.total_nota %>
</p>

<p>
  <b>Total retur:</b>
  <%= @m_beli_po_first_h.total_retur %>
</p>

<p>
  <b>Is close btb:</b>
  <%= @m_beli_po_first_h.is_close_btb %>
</p>

<p>
  <b>Is close po:</b>
  <%= @m_beli_po_first_h.is_close_po %>
</p>


<%= link_to 'Edit', edit_m_beli_po_first_h_path(@m_beli_po_first_h) %> |
<%= link_to 'Back', m_beli_po_first_hs_path %>
