<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11">DAFTAR JENIS</th>
    </tr>
    <tr class="blankSpot">
      <th colspan="11" align="left">&nbsp;
        <%= link_to 'Tambah Data', new_a_type_path, :class => "navigasi btn" %>
        <a id="searchLink" class="navigasi btn" href="javascript:void(0)" style="float:right">Cari Data</a>
      </th>
    </tr>
    <tr class="titleJudulTable">
       <th align="center">Kode</th>
       <th align="center">Nama</th>
       <th align="center">Simbol</th>
       <th align="center">Department</th>
       <th align="center">Golongan</th>
       <th align="center">Update Oleh</th>
    </tr>
  </thead>
  <% @a_types.each do |a_type| %>
    <tr onclick="redirectTo('<%= a_type_path(a_type) %>')">
      <th><%= a_type.kode %></th>
      <th><%= a_type.nama %></th>
      <th><%= a_type.simbol %></th>
      <th><%= ADepartment.where(kode: a_type.id_department).first.nama %></th>
      <th><%= AGolongan.where(kode: a_type.id_golongan, id_department: a_type.id_department).first.nama %></th>
      <th><%= a_type.updated_by %></th>
    </tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @a_types %>
      </th>
    </tr>
  </thead>
</table>

<!-- Modal -->
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag a_types_search_path, method: :get, class: 'form-horizontal' do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Search jenis</h3>
    </div>
    <div class="modal-body">
      <% AType.column_names.each do |column_name| %>
        <% unless ["id", "created_at", "updated_at"].include?(column_name) %>
          <div class="control-group">
            <%= label_tag column_name, column_name.gsub('_', ' ').titleize, class: 'control-label' %>
            <div class="controls">
              <%= text_field_tag column_name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Search</button>
    </div>
  <% end %>
</div>

<%= link_to "Back", a_types_path, class: 'btn btn-success' if action_name == 'search' %>

<script>
$(function() {
  $('#searchLink').click(function() {
    $('#searchModal').modal();
  });
});
</script>
