<%= form_for(@a_template_cat) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= form_title(action_name, @title) %></th></tr>
    <%= render partial: COMMON_ERRORS, locals: { object: @a_template_cat } if @a_template_cat.errors.any? %>
    <%= render partial: "navigator" unless action_name == 'new' %>
    <%= render partial: "columns", locals: { f: f, attributes: @attributes } %>
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit SAVE, class: :btn unless ["destroy_show", "show"].include?(action_name)  %>
        <%= link_to DELETE, a_template_cat_path(@a_template_cat), method: :delete, class: :btn, confirm: "#{DELETE} data?" if action_name.eql?('destroy_show') %>
        <%= link_to CLOSE, "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(a_template_cats_path) %>