<p id="notice"><%= notice %></p>

<p>
  <b>Id group:</b>
  <%= @admin_ms_group.id_group %>
</p>

<p>
  <b>Id product:</b>
  <%= @admin_ms_group.id_product %>
</p>

<p>
  <b>Namagroup:</b>
  <%= @admin_ms_group.namagroup %>
</p>

<p>
  <b>Statusgroup:</b>
  <%= @admin_ms_group.statusgroup %>
</p>

<p>
  <b>Id group parent:</b>
  <%= @admin_ms_group.id_group_parent %>
</p>

<p>
  <b>Viewadmin:</b>
  <%= @admin_ms_group.viewadmin %>
</p>

<p>
  <b>Kduser:</b>
  <%= @admin_ms_group.kduser %>
</p>


<%= link_to 'Edit', edit_admin_ms_group_path(@admin_ms_group) %> |
<%= link_to 'Back', admin_ms_groups_path %>
