<%= form_for(@a_company_profile) do |f| %>
  <table class="table-bordered" align="center" width="60%">
    <tr class="titleJudulTable"><th colspan="3"><%= @form_title %></th></tr>
    <%= render partial: COMMON_ERRORS, locals: { object: @a_company_profile } if @a_company_profile.errors.any? %>
    <%= render partial: "navigator" unless ["new","edit","destroy_show"].include?(action_name) %>
    <%= render partial: "columns", locals: { f: f, attributes: @attributes } %>
    <tr>
      <th colspan="3" class="titleJudulTable" width="100%">
        <%= f.submit SAVE, class: :btn, confirm: "Simpan data?" unless ["destroy_show", "show"].include?(action_name)  %>
        <%= link_to DELETE, a_company_profile_path(@a_company_profile), method: :delete, class: :btn, confirm: "#{DELETE} data?" if ["destroy_show"].include?(action_name) %>
        <%= link_to CLOSE, "javascript:void(0)", onclick: "closingForm()", class: :btn %>
      </th>
    </tr>
  </table>
<% end %>
<%= hidden_value(a_company_profiles_path) %>