<p id="notice"><%= notice %></p>

<p>
  <b>Kode:</b>
  <%= @b_barang_ext.kode %>
</p>

<p>
  <b>Kode ext:</b>
  <%= @b_barang_ext.kode_ext %>
</p>

<p>
  <b>Kode alias:</b>
  <%= @b_barang_ext.kode_alias %>
</p>

<p>
  <b>Nama ext:</b>
  <%= @b_barang_ext.nama_ext %>
</p>

<p>
  <b>Id supplier:</b>
  <%= @b_barang_ext.id_supplier %>
</p>

<p>
  <b>Id size:</b>
  <%= @b_barang_ext.id_size %>
</p>

<p>
  <b>Id warna:</b>
  <%= @b_barang_ext.id_warna %>
</p>

<p>
  <b>Id satuan kemasan:</b>
  <%= @b_barang_ext.id_satuan_kemasan %>
</p>

<p>
  <b>Updated by:</b>
  <%= @b_barang_ext.updated_by %>
</p>


<%= link_to 'Edit', edit_b_barang_ext_path(@b_barang_ext) %> |
<%= link_to 'Back', b_barang_exts_path %>
