<h1>Listing admin_ms_menu_groups</h1>

<table class="table table-striped table-bordered table-hover">
  <thead class="thead">
    <tr>
      <th>Id menu</th>
      <th>Id group</th>
      <th>Id product</th>
      <th>Statusmenu</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @admin_ms_menu_groups.each do |admin_ms_menu_group| %>
  <tr>
    <td><%= admin_ms_menu_group.id_menu %></td>
    <td><%= admin_ms_menu_group.id_group %></td>
    <td><%= admin_ms_menu_group.id_product %></td>
    <td><%= admin_ms_menu_group.statusmenu %></td>
    <td><%= link_to 'Show', admin_ms_menu_group %></td>
    <td><%= link_to 'Edit', edit_admin_ms_menu_group_path(admin_ms_menu_group) %></td>
    <td><%= link_to 'Destroy', admin_ms_menu_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Admin ms menu group', new_admin_ms_menu_group_path %>
