<table class="table-bordered" align="center" width="60%">
  <tr class="titleJudulTable">
    <th colspan="3">
      FORM ADMIN MASTER MENU GROUP
    </th>
  </tr>
  <tr>
    <th colspan="3">
      <%= link_to 'Tambah', new_admin_ms_menu_group_path %> |
      <% if @admin_ms_menu_group.id %>
      <%= link_to 'Koreksi', edit_admin_ms_menu_group_path(@admin_ms_menu_group) %> |
      <% end %>
      <%= link_to 'Hapus', destroy_show_admin_ms_menu_group_path(@admin_ms_menu_group.id) %> |
    </th>
  </tr> 
  <%= render partial: 'columns', locals: {admin_ms_menu_group: @admin_ms_menu_group} %>
  <tr>
  <th colspan="3" class="titleJudulTable" width="100%">
    <%= link_to "Tutup", "#", onclick: "is_tutup()", class: :btn %>
  </th>
</tr>
</table>


<input type="hidden" id="url_back" name="admin_ms_menu_group_back" value="<%= admin_ms_menu_groups_path %>">
