<%= stylesheet_link_tag "jquery.treeview", "screen", :media => "all" %>

<ul id="red" class="treeview-red">
  <% prm_ids = "9999" %>
  <% if @main %>
    <% @main.each do |rowS| %>
      <% param_browse = admin_ms_menu_path(rowS['id_menu']) %>
      <% param_add    = new_admin_ms_menu_path(parent: rowS['id_menu']) %>   
      <% param_edit   = edit_admin_ms_menu_path(rowS['id_menu'], parent: rowS['id_menuref']) %>
      <% param_delete = admin_ms_menu_delete_path(rowS['id_menu']) %>

      <%= rowS["simbol"].html_safe %>
      <% if rowS["keterangan"] != "" %>       
        <%= rowS["keterangan"].html_safe %>
        <a href="javascript: callUrlJS(&quot;<%= "#{param_browse}" %>&quot;);">[Lihat]</a>
        <a href="javascript: callUrlJS(&quot;<%= "#{param_add}" %>&quot;);">[Tambah]</a>
        <a href="javascript: callUrlJS(&quot;<%= "#{param_edit}" %>&quot;);">[Edit]</a>
        <a href="javascript: callUrlJS(&quot;<%= "#{param_delete}" %>&quot;);">[Delete]</a>
        <% if (rowS['nm_url']=="")  %>

        <% end %>
      <% end %>                    
    <% end %> 
  <% end %> 
</ul>
