<p id="notice"><%= notice %></p>

<p>
  <b>Id menu:</b>
  <%= @admin_ms_menu.id_menu %>
</p>

<p>
  <b>Id menuref:</b>
  <%= @admin_ms_menu.id_menuref %>
</p>

<p>
  <b>Status1:</b>
  <%= @admin_ms_menu.status1 %>
</p>

<p>
  <b>Nolist:</b>
  <%= @admin_ms_menu.nolist %>
</p>

<p>
  <b>Levelmenu:</b>
  <%= @admin_ms_menu.levelmenu %>
</p>

<p>
  <b>Id modul:</b>
  <%= @admin_ms_menu.id_modul %>
</p>

<p>
  <b>Addparam:</b>
  <%= @admin_ms_menu.addparam %>
</p>

<p>
  <b>Namamenu:</b>
  <%= @admin_ms_menu.namamenu %>
</p>

<p>
  <b>Statusaplikasi:</b>
  <%= @admin_ms_menu.statusaplikasi %>
</p>

<p>
  <b>Nourut:</b>
  <%= @admin_ms_menu.nourut %>
</p>

<p>
  <b>Is show aplikasi:</b>
  <%= @admin_ms_menu.is_show_aplikasi %>
</p>

<p>
  <b>Is show buku:</b>
  <%= @admin_ms_menu.is_show_buku %>
</p>

<p>
  <b>Is show laporan:</b>
  <%= @admin_ms_menu.is_show_laporan %>
</p>


<%= link_to 'Edit', edit_admin_ms_menu_path(@admin_ms_menu) %> |
<%= link_to 'Back', admin_ms_menus_path %>
