<%#= render "shared/menu_navigation", pathname: "admin_ms_menu", object: @admin_ms_menu %>

<p id="notice"><%= notice %></p>

<p>
  <b>Menu ID:</b>
  <%= @admin_ms_menu.id_menu %>
</p>

<p>
  <b>Menu ID Root:</b>
  <%= @admin_ms_menu.id_menu_parent %>
</p>

<p>
  <b>Description:</b>
  <%= @admin_ms_menu.namamenu %>
</p>

<p>
  <b>Parameter:</b>
  <%= @admin_ms_menu.addparam %>
</p>

<p>
  <b>Modul ID:</b>
  <%= @admin_ms_menu.id_modul %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_ms_menu.status1 %>
</p>

<p>
  <b>Level Deep Menu:</b>
  <%= @admin_ms_menu.levelmenu %>
</p>

<p>
  <b>Number:</b>
  <%= @admin_ms_menu.nourut %>
</p>

