<p id="notice"><%= notice %></p>

<p>
  <b>Kode tmp:</b>
  <%= @m_beli_po_second_d.kode_tmp %>
</p>

<p>
  <b>Kode barang:</b>
  <%= @m_beli_po_second_d.kode_barang %>
</p>

<p>
  <b>Qty kemasan:</b>
  <%= @m_beli_po_second_d.qty_kemasan %>
</p>

<p>
  <b>Id satuan kemasan:</b>
  <%= @m_beli_po_second_d.id_satuan_kemasan %>
</p>

<p>
  <b>Qty:</b>
  <%= @m_beli_po_second_d.qty %>
</p>

<p>
  <b>Qty btb:</b>
  <%= @m_beli_po_second_d.qty_btb %>
</p>

<p>
  <b>Id valuta:</b>
  <%= @m_beli_po_second_d.id_valuta %>
</p>

<p>
  <b>Harga:</b>
  <%= @m_beli_po_second_d.harga %>
</p>

<p>
  <b>Diskon:</b>
  <%= @m_beli_po_second_d.diskon %>
</p>

<p>
  <b>Total qty kali harga:</b>
  <%= @m_beli_po_second_d.total_qty_kali_harga %>
</p>

<p>
  <b>Total qty kali harga kali diskon:</b>
  <%= @m_beli_po_second_d.total_qty_kali_harga_kali_diskon %>
</p>

<p>
  <b>Total kurang diskon:</b>
  <%= @m_beli_po_second_d.total_kurang_diskon %>
</p>


<%= link_to 'Edit', edit_m_beli_po_second_d_path(@m_beli_po_second_d) %> |
<%= link_to 'Back', m_beli_po_second_ds_path %>
