<table class="table table-bordered table-hover" width="60%" align="center">
  <thead class="thead">
    <tr class="titleJudul" style="font-size : 12pt">
      <th align="center" colspan="11"><%= form_title(action_name, @title) %></th>
    </tr>
    <tr class="blankSpot">
      <th colspan="11" align="left">&nbsp;
        <%= link_to ADD, new_a_badan_usaha_path, class: "navigasi btn" %>
        <a id="searchLink" class="navigasi btn" href="javascript:void(0)" style="float:right"><%= SEARCH %></a>
      </th>
    </tr>
    <tr class="titleJudulTable">
      <% ABadanUsaha.column_names.each do |column_name| %>
        <% unless ["id", "created_at", "updated_at", "updated_by"].include?(column_name) %>
          <th><%= ABadanUsaha.human_attribute_name(column_name).titleize %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>
  <% if @a_badan_usahas.count > 0 %>
    <% @a_badan_usahas.each do |a_badan_usaha| %>
      <tr onclick="redirectTo('<%= a_badan_usaha_path(a_badan_usaha) %>')">
        <% ABadanUsaha.column_names.each do |column_name| %>
          <% unless ["id", "created_at", "updated_at", "updated_by"].include?(column_name) %>
            <td><%= a_badan_usaha[column_name] %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr><td colspan="3" style="text-align: center"><%= EMPTY_DATA %></td></tr>
  <% end %>
  <thead class="thead">
    <tr class="titleJudulTable">
      <th colspan="11" align="right">
        <%= paginate @a_badan_usahas %>
      </th>
    </tr>
  </thead>
</table>

<!-- Modal -->
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= form_tag a_badan_usahas_search_path, class: 'form-horizontal' do %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= SEARCH %> badan usaha</h3>
    </div>
    <div class="modal-body">
      <% ABadanUsaha.column_names.each do |column_name| %>
        <% unless ["id", "created_at", "updated_at", "updated_by"].include?(column_name) %>
          <div class="control-group">
            <%= label_tag column_name, ABadanUsaha.human_attribute_name(column_name).titleize, class: 'control-label' %>
            <div class="controls">
              <%= text_field_tag column_name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= CLOSE %></button>
      <button class="btn btn-primary" id="search"><%= SEARCH %></button>&nbsp &nbsp<span id="empty" style="color: red; display: none;">* Setidaknya satu field harus diisi</span>
    </div>
  <% end %>
</div>

<%= link_to BACK, a_badan_usahas_path, class: 'btn btn-success' if action_name == 'search' %>

<script>
$(function() {
  $('#searchLink').click(function() {
    $('#searchModal').modal();
  });

  $('#search').click(function() {
    if (($('#kode').val() == "") && ($('#nama').val() == "") && ($('#no_urut').val() == ""))
        {
          $('#empty').fadeIn();
          return false;
        }
  });
});
</script>