<p id="notice"><%= notice %></p>

<p>
  <b>Id cabang:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.id_cabang %>
</p>

<p>
  <b>Id gudang:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.id_gudang %>
</p>

<p>
  <b>Tipe stok:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.tipe_stok %>
</p>

<p>
  <b>Kode brg:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.kode_brg %>
</p>

<p>
  <b>Kode brg ext:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.kode_brg_ext %>
</p>

<p>
  <b>Kode brg lot:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.kode_brg_lot %>
</p>

<p>
  <b>Tanggal:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.tanggal %>
</p>

<p>
  <b>Simbol:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.simbol %>
</p>

<p>
  <b>Keterangan:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.keterangan %>
</p>

<p>
  <b>Catatan:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.catatan %>
</p>

<p>
  <b>Qty awal:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.qty_awal %>
</p>

<p>
  <b>Qty masuk:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.qty_masuk %>
</p>

<p>
  <b>Qty keluar:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.qty_keluar %>
</p>

<p>
  <b>Qty saldo:</b>
  <%= @m_warehouse_ks_brg_d_ext_d.qty_saldo %>
</p>


<%= link_to 'Edit', edit_m_warehouse_ks_brg_d_ext_d_path(@m_warehouse_ks_brg_d_ext_d) %> |
<%= link_to 'Back', m_warehouse_ks_brg_d_ext_ds_path %>
