<br /><%= link_to 'Tambah Alamat', 'javascript:void(0)', class: 'btn btn-primary pull-left', style: 'margin-left: 20px;', id: 'formSupplier' %><br /><br />
<% @b_supplier_alamats.each do |b_supplier_alamat| %>
  <div class="form-horizontal">
    <legend class="pull-left">
      <span class="pull-left">&nbsp &nbsp<%= b_supplier_alamat.kode_alamat %></span>
      <%= link_to "Delete", "javascript:void(0)", class: 'pull-right', style: 'font-size: 0.7em; margin-right: 10px;', id: "delete", value: b_supplier_alamat.id %>
      <span class="pull-right" style="font-size: 0.7em">&nbsp|&nbsp</span>
      <%= link_to "Koreksi", "javascript:void(0)", class: 'pull-right', style: 'font-size: 0.7em', id: "koreksi", value: b_supplier_alamat.id %>
    </legend>
    <div class="control-group">
      <% BSupplierAlamat.column_names.each do |column_name| %>
        <% if ["kode", "alamat_title", "alamat_01", "alamat_02", "id_kota", "kode_pos", "telepon", "fax"].include?(column_name) %>
          <%= label_tag column_name, column_name, class: 'control-label' %>
          <div class="controls"><%= text_field_tag column_name, b_supplier_alamat[column_name], disabled: 'disabled'  %></div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
$(function() {
  $('a#koreksi').click(function() {
    var value = $(this).attr('value');
    var type = $(this).attr('id');
    $.ajax({
      url: "/b_suppliers/<%= @b_supplier.id %>/b_supplier_alamats/" + value + "/change_form/?type=" + type,
      success: function() {
        $('#formSupplierModal').modal('show');
      }
    });
  });

  $('a#delete').click(function() {
    var value = $(this).attr('value');
    var type = $(this).attr('id');
    $.ajax({
      url: "/b_suppliers/<%= @b_supplier.id %>/b_supplier_alamats/" + value + "/change_form/?type=" + type,
      success: function() {
        $('#formSupplierModal').modal('show');
      }
    });
  });
});
</script>