<p id="notice"><%= notice %></p>

<p>
  <b>Kode alamat:</b>
  <%= @b_supplier_alamat.kode_alamat %>
</p>

<p>
  <b>Kode:</b>
  <%= @b_supplier_alamat.kode %>
</p>

<p>
  <b>Kode kategori:</b>
  <%= @b_supplier_alamat.kode_kategori %>
</p>

<p>
  <b>Alamat title:</b>
  <%= @b_supplier_alamat.alamat_title %>
</p>

<p>
  <b>Alamat 01:</b>
  <%= @b_supplier_alamat.alamat_01 %>
</p>

<p>
  <b>Alamat 02:</b>
  <%= @b_supplier_alamat.alamat_02 %>
</p>

<p>
  <b>Id negara:</b>
  <%= @b_supplier_alamat.id_negara %>
</p>

<p>
  <b>Id provinsi:</b>
  <%= @b_supplier_alamat.id_provinsi %>
</p>

<p>
  <b>Id kota:</b>
  <%= @b_supplier_alamat.id_kota %>
</p>

<p>
  <b>Telepon:</b>
  <%= @b_supplier_alamat.telepon %>
</p>

<p>
  <b>Fax:</b>
  <%= @b_supplier_alamat.fax %>
</p>

<p>
  <b>Kode pos:</b>
  <%= @b_supplier_alamat.kode_pos %>
</p>

<p>
  <b>Status1:</b>
  <%= @b_supplier_alamat.status1 %>
</p>

<p>
  <b>St progress:</b>
  <%= @b_supplier_alamat.st_progress %>
</p>

<p>
  <b>B supplier:</b>
  <%= @b_supplier_alamat.b_supplier_id %>
</p>

<p>
  <b>Updated by:</b>
  <%= @b_supplier_alamat.updated_by %>
</p>


<%= link_to 'Edit', edit_b_supplier_b_supplier_alamat_path(@b_supplier_alamat) %> |
<%= link_to 'Back', b_supplier_b_supplier_alamats_path %>
